schema/v02/UnqualifiedDataType_6p0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ====================================================================== -->
<!-- =====  Unqualified Data Type Schema Module                       ===== -->
<!-- ====================================================================== -->
<!--
  	Schema agency: 	UN/CEFACT 
  	Schema version:	6.0
  	Schema date: 	 26 January 2009
  	
  	Copyright (C) UN/CEFACT (2009). All Rights Reserved.

	This document and translations of it may be copied and furnished to others, 
	and derivative works that comment on or otherwise explain it or assist 
	in its implementation may be prepared, copied, published and distributed, 
	in whole or in part, without restriction of any kind, provided that the 
	above copyright notice and this paragraph are included on all such copies 
	and derivative works. However, this document itself may not be modified in 
	any way, such as by removing the copyright notice or references to 
	UN/CEFACT, except as needed for the purpose of developing UN/CEFACT 
	specifications, in which case the procedures for copyrights defined in the 
	UN/CEFACT Intellectual Property Rights document must be followed, or as 
	required to translate it into languages other than English.

	The limited permissions granted above are perpetual and will not be revoked 
	by UN/CEFACT or its successors or assigns.

	This document and the information contained herein is provided on an "AS IS"
	basis and UN/CEFACT DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING 
	BUT NOT LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL 
	NOT INFRINGE ANY RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR 
	FITNESS FOR A PARTICULAR PURPOSE.
-->
<xsd:schema xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:2" xmlns:clm6Recommendation20="urn:un:unece:uncefact:codelist:standard:6:Recommendation20:5" xmlns:clm60133="urn:un:unece:uncefact:codelist:standard:6:0133:40106" xmlns:clm5ISO42173A="urn:un:unece:uncefact:codelist:standard:5:ISO42173A:2008-11-12" xmlns:ids5ISO316612A="urn:un:unece:uncefact:identifierlist:standard:5:ISO316612A:SecondEdition2006VI-3" xmlns:clmIANAMIMEMediaType="urn:un:unece:uncefact:codelist:standard:IANA:MIMEMediaType:2008-11-12" xmlns:clmIANACharacterSetCode="urn:un:unece:uncefact:codelist:standard:IANA:CharacterSetCode:2007-05-14" xmlns:clm63055="urn:un:unece:uncefact:codelist:standard:6:3055:D08A" xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:6" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:6" elementFormDefault="qualified" attributeFormDefault="unqualified" version="6.0">
	<!-- =================================================================== -->
	<!-- ===== Imports                                                 ===== -->
	<!-- =================================================================== -->
	<!-- ===== Imports of Code Lists                                   ===== -->
	<!-- =================================================================== -->
	<!-- 
		<xsd:import namespace="urn:un:unece:uncefact:codelist:standard:IANA:CharacterSetCode:2007-05-14" schemaLocation="http://www.unece.org/uncefact/codelist/standard/IANA_CharacterSetCode_20070514.xsd"/>
		<xsd:import namespace="urn:un:unece:uncefact:codelist:standard:IANA:MIMEMediaType:2008-11-12" schemaLocation="http://www.unece.org/uncefact/codelist/standard/IANA_MIMEMediaType_20081112.xsd"/>
		<xsd:import namespace="urn:un:unece:uncefact:identifierlist:standard:5:ISO316612A:SecondEdition2006VI-3" schemaLocation="http://www.unece.org/uncefact/identifierlist/standard/ISO_ISOTwoletterCountryCode_SecondEdition2006VI-3.xsd"/>
		<xsd:import namespace="urn:un:unece:uncefact:codelist:standard:5:ISO42173A:2008-11-12" schemaLocation="http://www.unece.org/uncefact/codelist/standard/ISO_ISO3AlphaCurrencyCode_20081112.xsd"/>
		<xsd:import namespace="urn:un:unece:uncefact:codelist:standard:6:0133:40106" schemaLocation="http://www.unece.org/uncefact/codelist/standard/UNECE_CharacterSetEncodingCode_40106.xsd"/>
		<xsd:import namespace="urn:un:unece:uncefact:codelist:standard:6:Recommendation20:5" schemaLocation="http://www.unece.org/uncefact/codelist/standard/UNECE_MeasurementUnitCommonCode_5.xsd"/>
		<xsd:import namespace="urn:un:unece:uncefact:codelist:standard:6:3055:D08A" schemaLocation="http://www.unece.org/uncefact/codelist/standard/UNECE_AgencyIdentificationCode_D08A.xsd"/>
	-->
	
	<!-- version recuperees localement -->
	<xsd:import namespace="urn:un:unece:uncefact:codelist:standard:IANA:CharacterSetCode:2007-05-14"         schemaLocation="codes/IANA_CharacterSetCode_20070514.xsd"/>
	<xsd:import namespace="urn:un:unece:uncefact:codelist:standard:IANA:MIMEMediaType:2008-11-12"            schemaLocation="codes/IANA_MIMEMediaType_20081112.xsd"/>
	<xsd:import namespace="urn:un:unece:uncefact:codelist:standard:6:0133:40106"                             schemaLocation="codes/UNECE_CharacterSetEncodingCode_40106.xsd"/>
	<xsd:import namespace="urn:un:unece:uncefact:codelist:standard:6:Recommendation20:5"                     schemaLocation="codes/UNECE_MeasurementUnitCommonCode_5.xsd"/>
	<xsd:import namespace="urn:un:unece:uncefact:codelist:standard:6:3055:D08A"                              schemaLocation="codes/UNECE_AgencyIdentificationCode_D08A.xsd"/>
	
	<!-- la table des pays n'est pas utilisee dans ce schema ne sert pas -->
	<xsd:import namespace="urn:un:unece:uncefact:identifierlist:standard:5:ISO316612A:SecondEdition2006VI-3" schemaLocation="codes/ISO_ISOTwoletterCountryCode_SecondEdition2006VI-3.xsd"/>
	
	<!-- table des noms de devises est utilisee dans AmountType qui n'est pas utilise dans le SEDA -->
	<xsd:import namespace="urn:un:unece:uncefact:codelist:standard:5:ISO42173A:2008-11-12"                   schemaLocation="codes/ISO_ISO3AlphaCurrencyCode_20081112.xsd"/>
	
	
	<!-- =================================================================== -->
	<!-- ===== Type Definitions                                         ===== -->
	<!-- =================================================================== -->
	<!-- ===== Amount. Type                                            ===== -->
	<!-- =================================================================== -->
	<xsd:complexType name="AmountType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>UDT000001</ccts:UniqueID>
				<ccts:Acronym>UDT</ccts:Acronym>
				<ccts:DictionaryEntryName>Amount. Type</ccts:DictionaryEntryName>
				<ccts:Version>2.01</ccts:Version>
				<ccts:Definition>A number of monetary units specified in a currency where the unit of the currency is explicit or implied.</ccts:Definition>
				<ccts:PrimitiveType>decimal</ccts:PrimitiveType>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="currencyID" type="clm5ISO42173A:ISO3AlphaCurrencyCodeContentType" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Amount. Currency. Identifier</ccts:Name>
							<ccts:Definition>The currency of the amount.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
							<ccts:usageRule>By default, use latest
version of ISO 4217.
</ccts:usageRule>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- =================================================================== -->
	<!-- ===== Binary Object. Type                                     ===== -->
	<!-- =================================================================== -->
	<xsd:complexType name="BinaryObjectType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>UDT000002</ccts:UniqueID>
				<ccts:Acronym>UDT</ccts:Acronym>
				<ccts:DictionaryEntryName>Binary Object. Type</ccts:DictionaryEntryName>
				<ccts:Version>2.01</ccts:Version>
				<ccts:Definition>A set of finite-length sequences of binary octets.</ccts:Definition>
				<ccts:PrimitiveType>binary</ccts:PrimitiveType>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:base64Binary">
				<xsd:attribute name="format" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Binary Object. Format. Text</ccts:Name>
							<ccts:Definition>The format of the binary content.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="mimeCode" type="clmIANAMIMEMediaType:MIMEMediaTypeContentType" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Binary Object. Mime. Code</ccts:Name>
							<ccts:Definition>The mime type of the binary object.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="encodingCode" type="clm60133:CharacterSetEncodingCodeContentType" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Binary Object. Encoding. Code</ccts:Name>
							<ccts:Definition>Specifies the decoding algorithm of the binary object.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="characterSetCode" type="clmIANACharacterSetCode:CharacterSetCodeContentType" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Binary Object. Character Set. Code</ccts:Name>
							<ccts:Definition>The character set of the binary object if the mime type is text.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Binary Object. Uniform Resource. Identifier</ccts:Name>
							<ccts:Definition>The Uniform Resource Identifier that identifies where the binary object is located.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="filename" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Binary Object. Filename. Text</ccts:Name>
							<ccts:Definition>The filename of the binary object.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- =================================================================== -->
	<!-- ===== Graphic. Type                                           ===== -->
	<!-- =================================================================== -->
	<xsd:complexType name="GraphicType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>UDT000003</ccts:UniqueID>
				<ccts:Acronym>UDT</ccts:Acronym>
				<ccts:DictionaryEntryName>Graphic. Type</ccts:DictionaryEntryName>
				<ccts:Version>2.01</ccts:Version>
				<ccts:Definition>	A graphic binary object is a visual image displayed on a screen or stored as data.</ccts:Definition>
				<ccts:PrimitiveType>binary</ccts:PrimitiveType>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:base64Binary">
				<xsd:attribute name="format" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Graphic. Format. Text</ccts:Name>
							<ccts:Definition>The format of the graphic binary object.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="mimeCode" type="clmIANAMIMEMediaType:MIMEMediaTypeContentType" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Graphic. Mime. Code</ccts:Name>
							<ccts:Definition>The mime type of the graphic binary object.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="encodingCode" type="clm60133:CharacterSetEncodingCodeContentType" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Graphic. Encoding. Code</ccts:Name>
							<ccts:Definition>Specifies the decoding algorithm of the graphic binary object.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Graphic. Uniform Resource. Identifier</ccts:Name>
							<ccts:Definition>The Uniform Resource Identifier that identifies where the graphic binary object is located.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="filename" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Graphic. Filename. Text</ccts:Name>
							<ccts:Definition>The filename of the graphic binary object.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- =================================================================== -->
	<!-- ===== Picture. Type                                           ===== -->
	<!-- =================================================================== -->
	<xsd:complexType name="PictureType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>UDT000004</ccts:UniqueID>
				<ccts:Acronym>UDT</ccts:Acronym>
				<ccts:DictionaryEntryName>Picture. Type</ccts:DictionaryEntryName>
				<ccts:Version>2.01</ccts:Version>
				<ccts:Definition>A visual representation of a person, object, or scene instantiated as a painting, drawing, or photograph.</ccts:Definition>
				<ccts:PrimitiveType>binary</ccts:PrimitiveType>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:base64Binary">
				<xsd:attribute name="format" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Picture. Format. Text</ccts:Name>
							<ccts:Definition>The format of the picture binary object content.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="mimeCode" type="clmIANAMIMEMediaType:MIMEMediaTypeContentType" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Picture. Mime. Code</ccts:Name>
							<ccts:Definition>The mime type of the picture binary object.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="encodingCode" type="clm60133:CharacterSetEncodingCodeContentType" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Picture. Encoding. Code</ccts:Name>
							<ccts:Definition>Specifies the decoding algorithm of the picture binary object.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Picture. Uniform Resource. Identifier</ccts:Name>
							<ccts:Definition>The Uniform Resource Identifier that identifies where the picture binary object is located.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="filename" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Picture. Filename. Text</ccts:Name>
							<ccts:Definition>The filename of the picture object.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- =================================================================== -->
	<!-- ===== Sound. Type                                             ===== -->
	<!-- =================================================================== -->
	<xsd:complexType name="SoundType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>UDT000005</ccts:UniqueID>
				<ccts:Acronym>UDT</ccts:Acronym>
				<ccts:DictionaryEntryName>Sound. Type</ccts:DictionaryEntryName>
				<ccts:Version>2.01</ccts:Version>
				<ccts:Definition>	A sound binary object is an electronic file containing music, speech, sound effects or other audio.</ccts:Definition>
				<ccts:PrimitiveType>binary</ccts:PrimitiveType>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:base64Binary">
				<xsd:attribute name="format" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Sound. Format. Text</ccts:Name>
							<ccts:Definition>The format of the sound binary object content.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="mimeCode" type="clmIANAMIMEMediaType:MIMEMediaTypeContentType" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Sound. Mime. Code</ccts:Name>
							<ccts:Definition>The mime type of the sound binary object.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="encodingCode" type="clm60133:CharacterSetEncodingCodeContentType" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Sound. Encoding. Code</ccts:Name>
							<ccts:Definition>Specifies the decoding algorithm of the sound binary object.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Sound. Uniform Resource. Identifier</ccts:Name>
							<ccts:Definition>The Uniform Resource Identifier that identifies where the sound binary object is located.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="filename" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Sound. Filename. Text</ccts:Name>
							<ccts:Definition>The filename of the sound binary object.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- =================================================================== -->
	<!-- ===== Video. Type                                             ===== -->
	<!-- =================================================================== -->
	<xsd:complexType name="VideoType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>UDT000006</ccts:UniqueID>
				<ccts:Acronym>UDT</ccts:Acronym>
				<ccts:DictionaryEntryName>Video. Type</ccts:DictionaryEntryName>
				<ccts:Version>2.01</ccts:Version>
				<ccts:Definition>	An electronically captured, recorded, processed, stored, transmitted, or reconstructed sequences of still images representing scenes in motion.</ccts:Definition>
				<ccts:PrimitiveType>binary</ccts:PrimitiveType>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:base64Binary">
				<xsd:attribute name="format" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Video. Format. Text</ccts:Name>
							<ccts:Definition>The format of the video binary object content.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="mimeCode" type="clmIANAMIMEMediaType:MIMEMediaTypeContentType" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Video. Mime. Code</ccts:Name>
							<ccts:Definition>The mime type of the video binary object.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="encodingCode" type="clm60133:CharacterSetEncodingCodeContentType" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Video. Encoding. Code</ccts:Name>
							<ccts:Definition>Specifies the decoding algorithm of the video binary object.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Video. Uniform Resource. Identifier</ccts:Name>
							<ccts:Definition>The Uniform Resource Identifier that identifies where the video binary object is located.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="filename" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Video. Filename. Text</ccts:Name>
							<ccts:Definition>The filename of the video binary object.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- =================================================================== -->
	<!-- ===== Code. Type                                              ===== -->
	<!-- =================================================================== -->
	<xsd:complexType name="CodeType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>UDT000007</ccts:UniqueID>
				<ccts:Acronym>UDT</ccts:Acronym>
				<ccts:DictionaryEntryName>Code. Type</ccts:DictionaryEntryName>
				<ccts:Version>2.01</ccts:Version>
				<ccts:Definition>A character string (letters, figures, or symbols) that for brevity and/or languange independence may be used to represent or replace a definitive value or text of an attribute together with relevant supplementary information.</ccts:Definition>
				<ccts:PrimitiveType>string</ccts:PrimitiveType>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:token">
				<xsd:attribute name="listID" type="xsd:token" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Code List. Identifier</ccts:Name>
							<ccts:Definition>The identification of a list of codes.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Code List. Agency. Identifier</ccts:Name>
							<ccts:Definition>An agency that maintains one or more code lists.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
							<ccts:UsageRule>Should be used</ccts:UsageRule>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="listAgencyName" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Code List. Agency Name. Text</ccts:Name>
							<ccts:Definition>The name of the agency that maintains the code list.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
							<ccts:UsageRule>Use if Code List. Agency. Identifier is not used</ccts:UsageRule>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="listName" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Code List. Name. Text</ccts:Name>
							<ccts:Definition>The name of a list of codes.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="listVersionID" type="xsd:token" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Code List. Version. Identifier</ccts:Name>
							<ccts:Definition>The version of the code list.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="name" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Code. Name. Text</ccts:Name>
							<ccts:Definition>The textual equivalent of the code content.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="languageID" type="xsd:language" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Code. Language. Identifier</ccts:Name>
							<ccts:Definition>The identifier of the language used in the corresponding text string.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="listURI" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Code List. Uniform Resource. Identifier</ccts:Name>
							<ccts:Definition>The Uniform Resource Identifier that identifies where the code list is located.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="listSchemeURI" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Code List. Scheme Uniform Resource. Identifier</ccts:Name>
							<ccts:Definition>The Uniform Resource Identifier that identifies where the code list scheme is located.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- =================================================================== -->
	<!-- ===== Date Time. Type                                         ===== -->
	<!-- =================================================================== -->
	<xsd:simpleType name="DateTimeType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>UDT000008</ccts:UniqueID>
				<ccts:Acronym>UDT</ccts:Acronym>
				<ccts:DictionaryEntryName>Date Time. Type</ccts:DictionaryEntryName>
				<ccts:Version>2.01</ccts:Version>
				<ccts:Definition>A particular point in the progression of time together with relevant supplementary information.</ccts:Definition>
				<ccts:PrimitiveType>string</ccts:PrimitiveType>
				<ccts:UsageRule>Can be used for a date and/or time.</ccts:UsageRule>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:dateTime"/>
	</xsd:simpleType>
	<!-- =================================================================== -->
	<!-- ===== Date. Type                                              ===== -->
	<!-- =================================================================== -->
	<xsd:simpleType name="DateType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>UDT000009</ccts:UniqueID>
				<ccts:Acronym>UDT</ccts:Acronym>
				<ccts:DictionaryEntryName>Date. Type</ccts:DictionaryEntryName>
				<ccts:Version>2.01</ccts:Version>
				<ccts:Definition>	A day of the month or year as specified by a number.</ccts:Definition>
				<ccts:PrimitiveType>string</ccts:PrimitiveType>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<!-- =================================================================== -->
	<!-- ===== Time. Type                                              ===== -->
	<!-- =================================================================== -->
	<xsd:simpleType name="TimeType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>UDT0000010</ccts:UniqueID>
				<ccts:Acronym>UDT</ccts:Acronym>
				<ccts:DictionaryEntryName>Time. Type</ccts:DictionaryEntryName>
				<ccts:Version>2.01</ccts:Version>
				<ccts:Definition>a particular point in the progression of time of a day together with relevant supplementary information.</ccts:Definition>
				<ccts:PrimitiveType>string</ccts:PrimitiveType>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:time"/>
	</xsd:simpleType>
	<!-- =================================================================== -->
	<!-- ===== Identifier. Type                                        ===== -->
	<!-- =================================================================== -->
	<xsd:complexType name="IDType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>UDT0000011</ccts:UniqueID>
				<ccts:Acronym>UDT</ccts:Acronym>
				<ccts:DictionaryEntryName>Identifier. Type</ccts:DictionaryEntryName>
				<ccts:Version>2.01</ccts:Version>
				<ccts:Definition>A character string to identify and distinguish uniquely, one instance of an object in an identification scheme from all other objects in the same scheme together with relevant supplementary information.</ccts:Definition>
				<ccts:PrimitiveType>string</ccts:PrimitiveType>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:token">
				<xsd:attribute name="schemeID" type="xsd:token" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Identification Scheme. Identifier</ccts:Name>
							<ccts:Definition>The identification of the identification scheme.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="schemeName" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Identification Scheme. Name. Text</ccts:Name>
							<ccts:Definition>The name of the identification scheme.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Identification Scheme. Agency. Identifier</ccts:Name>
							<ccts:Definition>The identification of the agency that maintains the identification scheme.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="schemeAgencyName" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Identification Scheme. Agency Name. Text</ccts:Name>
							<ccts:Definition>The name of the agency that maintains the identification scheme.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="schemeVersionID" type="xsd:token" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Identification Scheme. Version. Identifier</ccts:Name>
							<ccts:Definition>The version of the identification scheme.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="schemeDataURI" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Identification Scheme Data. Uniform Resource. Identifier</ccts:Name>
							<ccts:Definition>The Uniform Resource Identifier that identifies where the identification scheme data is located.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="schemeURI" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Identification Scheme. Uniform Resource. Identifier</ccts:Name>
							<ccts:Definition>The Uniform Resource Identifier that identifies where the identification scheme is located.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- =================================================================== -->
	<!-- ===== Indicator. Type                                         ===== -->
	<!-- =================================================================== -->
	<xsd:simpleType name="IndicatorType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>UDT0000012</ccts:UniqueID>
				<ccts:Acronym>UDT</ccts:Acronym>
				<ccts:DictionaryEntryName>Indicator. Type</ccts:DictionaryEntryName>
				<ccts:Version>2.01</ccts:Version>
				<ccts:Definition>A list of two mutually exclusive values that express the only possible states of a property.</ccts:Definition>
				<ccts:PrimitiveType>string</ccts:PrimitiveType>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:boolean">
			<xsd:pattern value="false"/>
			<xsd:pattern value="true"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- =================================================================== -->
	<!-- ===== Measure. Type                                           ===== -->
	<!-- =================================================================== -->
	<xsd:complexType name="MeasureType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>UDT0000013</ccts:UniqueID>
				<ccts:Acronym>UDT</ccts:Acronym>
				<ccts:DictionaryEntryName>Measure. Type</ccts:DictionaryEntryName>
				<ccts:Version>2.01</ccts:Version>
				<ccts:Definition>A numeric value determined by measuring an object along with the unit of measure specified or implied.</ccts:Definition>
				<ccts:PropertyTerm>Type</ccts:PropertyTerm>
				<ccts:PrimitiveType>decimal</ccts:PrimitiveType>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="unitCode" type="clm6Recommendation20:MeasurementUnitCommonCodeContentType" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Measure. Unit. Code</ccts:Name>
							<ccts:Definition>The type of unit of measure.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
							<ccts:UsageRule>	Default is current version of UN/ECE Rec. 20</ccts:UsageRule>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- =================================================================== -->
	<!-- ===== Numeric. Type                                           ===== -->
	<!-- =================================================================== -->
	<xsd:simpleType name="NumericType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>UDT0000014</ccts:UniqueID>
				<ccts:Acronym>UDT</ccts:Acronym>
				<ccts:DictionaryEntryName>Numeric. Type</ccts:DictionaryEntryName>
				<ccts:Version>2.01</ccts:Version>
				<ccts:Definition>Assigned mathematical number that does not require a unit of quantity, measure or currency.</ccts:Definition>
				<ccts:PrimitiveType>string</ccts:PrimitiveType>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal"/>
	</xsd:simpleType>
	<!-- =================================================================== -->
	<!-- ===== Value. Type                                             ===== -->
	<!-- =================================================================== -->
	<xsd:simpleType name="ValueType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>UDT0000015</ccts:UniqueID>
				<ccts:Acronym>UDT</ccts:Acronym>
				<ccts:Version>2.01</ccts:Version>
				<ccts:DictionaryEntryName>Value. Type</ccts:DictionaryEntryName>
				<ccts:Definition>	A value is the the numerical amount denoted by an algebraic term, a magnitude, quantity, or number.</ccts:Definition>
				<ccts:PrimitiveType>string</ccts:PrimitiveType>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal"/>
	</xsd:simpleType>
	<!-- =================================================================== -->
	<!-- ===== Percent. Type                                           ===== -->
	<!-- =================================================================== -->
	<xsd:simpleType name="PercentType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>UDT0000016</ccts:UniqueID>
				<ccts:Acronym>UDT</ccts:Acronym>
				<ccts:Version>2.01</ccts:Version>
				<ccts:DictionaryEntryName>Percent. Type</ccts:DictionaryEntryName>
				<ccts:Definition>	Numeric information expressed as parts per hundred as determined by calculation.</ccts:Definition>
				<ccts:PrimitiveType>string</ccts:PrimitiveType>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal"/>
	</xsd:simpleType>
	<!-- =================================================================== -->
	<!-- ===== Rate. Type                                              ===== -->
	<!-- =================================================================== -->
	<xsd:simpleType name="RateType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>UDT0000017</ccts:UniqueID>
				<ccts:Acronym>UDT</ccts:Acronym>
				<ccts:Version>2.01</ccts:Version>
				<ccts:DictionaryEntryName>Rate. Type</ccts:DictionaryEntryName>
				<ccts:Definition>	A stated numerical value of one thing corresponding proportionally to a certain value of some other thing.</ccts:Definition>
				<ccts:PrimitiveType>string</ccts:PrimitiveType>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal"/>
	</xsd:simpleType>
	<!-- =================================================================== -->
	<!-- ===== Quantity. Type                                          ===== -->
	<!-- =================================================================== -->
	<xsd:complexType name="QuantityType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>UDT0000018</ccts:UniqueID>
				<ccts:Acronym>UDT</ccts:Acronym>
				<ccts:DictionaryEntryName>Quantity. Type</ccts:DictionaryEntryName>
				<ccts:Version>2.01</ccts:Version>
				<ccts:Definition>A counted number of non-monetary units possibly including fractions.</ccts:Definition>
				<ccts:PrimitiveType>decimal</ccts:PrimitiveType>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="unitCode" type="clm6Recommendation20:MeasurementUnitCommonCodeContentType" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Quantity. Unit. Code</ccts:Name>
							<ccts:Definition>The unit of the quantity</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- =================================================================== -->
	<!-- ===== Text. Type                                              ===== -->
	<!-- =================================================================== -->
	<xsd:complexType name="TextType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>UDT0000019</ccts:UniqueID>
				<ccts:Acronym>UDT</ccts:Acronym>
				<ccts:DictionaryEntryName>Text. Type</ccts:DictionaryEntryName>
				<ccts:Version>2.01</ccts:Version>
				<ccts:Definition>A character string (i.e. a finite set of characters) generally in the form of words of a language.</ccts:Definition>
				<ccts:PrimitiveType>string</ccts:PrimitiveType>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="languageID" type="xsd:language" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Text. Language. Identifier</ccts:Name>
							<ccts:Definition>The identifier of the language used in the corresponding text string.</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- =================================================================== -->
	<!-- ===== Name. Type                                              ===== -->
	<!-- =================================================================== -->
	<xsd:complexType name="NameType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<ccts:UniqueID>UDT0000020</ccts:UniqueID>
				<ccts:Acronym>UDT</ccts:Acronym>
				<ccts:DictionaryEntryName>Name. Type</ccts:DictionaryEntryName>
				<ccts:Version>2.01</ccts:Version>
				<ccts:Definition>A word or phrase that constitutes the distinctive designation of a person, place, thing or concept.</ccts:Definition>
				<ccts:PrimitiveType>string</ccts:PrimitiveType>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="languageID" type="xsd:language" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							<ccts:Name>Language. Identifier</ccts:Name>
							<ccts:Definition>The identifier of the language used in the corresponding text string</ccts:Definition>
							<ccts:PrimitiveType>string</ccts:PrimitiveType>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
