schema/v01/archives_echanges_v0-1_archivetransferrequest.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- ======================================================== -->
<!-- =====                                              ===== -->
<!-- =====       ArchiveTransferRequest                 ===== -->
<!-- =====                                              ===== -->
<!-- ======================================================== -->
<!--

  Last change: 16. February 2006

  ArchiveTransferRequest Messages, standard d'echange 0.1
  Prefix=ATRAES

-->

<xsd:schema version="1.0" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
            xmlns:ccts="urn:unece:uncefact:dataschema:draft:CoreComponentTypesSchemaModule:0:3:4" 
            xmlns="fr:gouv:ae:archive:draft:standard_echange_v0.1" 
            targetNamespace="fr:gouv:ae:archive:draft:standard_echange_v0.1"  
            elementFormDefault="qualified" attributeFormDefault="unqualified">

<!-- ======================================================== -->
<!-- ====                Includes                        ==== -->
<!-- ======================================================== -->


<xsd:include schemaLocation="archives_echanges_v0-1_archive.xsd"/>
<xsd:include schemaLocation="archives_echanges_v0-1_signature.xsd"/>
<xsd:include schemaLocation="archives_echanges_v0-1_organization.xsd"/>
<xsd:include schemaLocation="archives_echanges_v0-1_hashcode.xsd"/>

<!-- ======================================================== -->
<!-- ====                Imports                         ==== -->
<!-- ======================================================== -->
<!-- ======================================================== -->
<!-- ====        Import of CoreComponentTypes            ==== -->
<!-- ======================================================== -->

<xsd:import namespace="urn:unece:uncefact:dataschema:draft:CoreComponentTypesSchemaModule:0:3:4" schemaLocation="CoreComponentTypesSchemaModule_0.3.4.xsd"/>

<!-- ======================================================== -->
<!-- ====        ArchiveTransferRequest Message          ==== -->
<!-- ======================================================== -->

<xsd:element name="ArchiveTransferRequest" type="ArchiveTransferRequestType"/>

<!-- ======================================================== -->
<!-- ====                Type Definition                 ==== -->
<!-- ======================================================== -->


        <xsd:complexType name="ArchiveTransferRequestType">
                        <xsd:annotation>
                        <xsd:documentation>
                        <ccts:UniqueID>ATRAES000001</ccts:UniqueID>
                        <ccts:CategoryCode>ABIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveTransferRequest</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:DefinitionText></ccts:DefinitionText>
                        <ccts:ObjectClassTermName>ArchiveTransferRequest</ccts:ObjectClassTermName>
                        <ccts:QualifierTermName>ArchiveTransferRequest</ccts:QualifierTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                        
                <xsd:sequence>

                <xsd:element name="Comment" type="ccts:TextType" minOccurs="0">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ATRAES000001-01</ccts:UniqueID>
                        <ccts:CategoryCode>BBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveTransferRequest.Comment</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>0..1</ccts:Cardinality>
                        <ccts:Definition>Commentaires</ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveTransferRequest</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>Comment</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                <xsd:element name="Date" type="ccts:DateTimeType">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ATRAES000001-02</ccts:UniqueID>
                        <ccts:CategoryCode>BBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveTransferRequest.Date</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality></ccts:Cardinality>
                        <ccts:Definition>Date de la demande de transfert</ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveTransferRequest</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>Date</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                <xsd:element name="RelatedTransferReference" type="ccts:IdentifierType" minOccurs="0">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ATRAES000001-03</ccts:UniqueID>
                        <ccts:CategoryCode>BBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveTransferRequest.RelatedTransferReference</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>0..1</ccts:Cardinality>
                        <ccts:Definition>Référence à un autre transfert</ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveTransferRequest</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>RelatedTransferReference</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                <xsd:element name="TransferDate" type="ccts:DateTimeType" minOccurs="0">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ATRAES000001-04</ccts:UniqueID>
                        <ccts:CategoryCode>BBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveTransferRequest.TransferDate</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>0..1</ccts:Cardinality>
                        <ccts:Definition>Date prévue pour le transfert</ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveTransferRequest</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>TransferDate</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>
                
                <xsd:element name="TransferRequestIdentifier" type="ccts:IdentifierType">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ATRAES000001-05</ccts:UniqueID>
                        <ccts:CategoryCode>BBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveTransferRequest.TransferRequestIdentifier</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition>Identifiant de la demande de transfert</ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveTransferRequest</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>TransferRequestIdentifier</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>
                
                <xsd:element name="TransferringAgency" type="OrganizationType">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ATRAES000001-06</ccts:UniqueID>
                        <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveTransferRequest.TransferringAgency</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition></ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveTransferRequest</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>TransferringAgency</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>
                
                <xsd:element name="ArchivalAgency" type="OrganizationType">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ATRAES000001-07</ccts:UniqueID>
                        <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveTransferRequest.ArchivalAgency</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition></ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveTransferRequest</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>ArchivalAgency</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                        </xsd:element>

                        <xsd:element name="Integrity" type="SignatureType" minOccurs="0">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ATRAES000001-08</ccts:UniqueID>
                        <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveTransferRequest.Integrity</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>0..1</ccts:Cardinality>
                        <ccts:Definition></ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveTransferRequest</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>Integrity</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                <xsd:element name="Contains" type="ArchiveType" maxOccurs="unbounded">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ATRAES000001-09</ccts:UniqueID>
                        <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveTransferRequest.Contains</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>1..n</ccts:Cardinality>
                        <ccts:Definition></ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveTransferRequest</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>Contains</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                </xsd:sequence>
                <xsd:attribute name="Id" type="xsd:ID" use="optional"/>
        </xsd:complexType>

<!-- ======================================================== -->
<!-- ====        ArchiveTransferRequest Message          ==== -->
<!-- ======================================================== -->

        <xsd:element name="ArchiveTransferRequestReply" type="ArchiveTransferRequestReplyType"/>

<!-- ======================================================== -->
<!-- ====                Type Definition                 ==== -->
<!-- ======================================================== -->


        <xsd:complexType name="ArchiveTransferRequestReplyType">
                        <xsd:annotation>
                        <xsd:documentation>
                        <ccts:UniqueID>ATRAES000002</ccts:UniqueID>
                        <ccts:CategoryCode>ABIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveTransferRequestReply</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:DefinitionText>Réponse à une demande de transfert d'archives (acceptation, refus, exigences...)</ccts:DefinitionText>
                        <ccts:ObjectClassTermName>ArchiveTransferRequestReply</ccts:ObjectClassTermName>
                        <ccts:QualifierTermName>ArchiveTransferRequestReply</ccts:QualifierTermName>
                        </xsd:documentation>
                        </xsd:annotation>

                <xsd:sequence>

                <xsd:element name="Comment" type="ccts:TextType" minOccurs="0">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ATRAES000002-01</ccts:UniqueID>
                        <ccts:CategoryCode>BBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveTransferRequestReply.Comment</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>0..1</ccts:Cardinality>
                        <ccts:Definition>Commentaires</ccts:Definition>
                        <ccts:ObjectClassTermName>Description</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>Comment</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                <xsd:element name="Date" type="ccts:DateTimeType">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ATRAES000002-02</ccts:UniqueID>
                        <ccts:CategoryCode>BBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveTransferRequestReply.</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition>Date de la réponse à la demande de transfert</ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveTransferRequestReply</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>Archive</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                        <xsd:element name="ReplyCode" type="ccts:CodeType" maxOccurs="unbounded">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ATRAES000002-03</ccts:UniqueID>
                        <ccts:CategoryCode>BBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveTransferRequestReply.ReplyCode</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>1..n</ccts:Cardinality>
                        <ccts:Definition>Code de la réponse (OK, anomalie...)</ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveTransferRequestReply</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>ReplyCode</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>
        
                <xsd:element name="TransferDate" type="ccts:DateTimeType" minOccurs="0">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ATRAES000002-04</ccts:UniqueID>
                        <ccts:CategoryCode>BBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveTransferRequestReply.TransferDate</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>0..1</ccts:Cardinality>
                        <ccts:Definition>Date prévue pour le transfert</ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveTransferRequestReply</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>TransferDate</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                <xsd:element name="TransferRequestIdentifier" type="ccts:IdentifierType">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ATRAES000002-05</ccts:UniqueID>
                        <ccts:CategoryCode>BBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveTransferRequestReply.TransferRequestIdentifier</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition>Identifiant de la demande de transfert</ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveTransferRequestReply</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>TransferRequestIdentifier</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>
                
                <xsd:element name="TransferRequestReplyIdentifier" type="ccts:IdentifierType">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ATRAES000002-06</ccts:UniqueID>
                        <ccts:CategoryCode>BBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveTransferRequestReply.TransferRequestReplyIdentifier</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition>Identifiant de la réponse à la demande de transfert</ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveTransferRequestReply</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>TransferRequestReplyIdentifier</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                <xsd:element name="TransferringAgency" type="OrganizationType">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ATRAES000002-07</ccts:UniqueID>
                        <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveTransferRequestReply.TransferringAgency</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition></ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveTransferRequestReply</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>TransferringAgency</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                <xsd:element name="ArchivalAgency" type="OrganizationType">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ATRAES000002-08</ccts:UniqueID>
                        <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveTransferRequestReply.ArchivalAgency</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition></ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveTransferRequestReply</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>ArchivalAgency</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>


                </xsd:sequence>
                <xsd:attribute name="Id" type="xsd:ID" use="optional"/>
        </xsd:complexType>


<!-- ======================================================== -->
<!-- ====        ArchiveTransferRequest Message          ==== -->
<!-- ======================================================== -->

         <xsd:element name="ArchiveTransferRequestReplyAcknowledgement" type="ArchiveTransferRequestReplyAcknowledgementType"/>

<!-- ======================================================== -->
<!-- ====                Type Definition                 ==== -->
<!-- ======================================================== -->



        <xsd:complexType name="ArchiveTransferRequestReplyAcknowledgementType">
                        <xsd:annotation>
                        <xsd:documentation>
                        <ccts:UniqueID>ATRAES000003</ccts:UniqueID>
                        <ccts:CategoryCode>ABIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveTransferRequestReplyAcknowledgement</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:DefinitionText>Accusé de réception d'une réponse à une demande de transfert d'archives</ccts:DefinitionText>
                        <ccts:ObjectClassTermName>ArchiveTransferRequestReplyAcknowledgement</ccts:ObjectClassTermName>
                        <ccts:QualifierTermName>ArchiveTransferRequestReplyAcknowledgement</ccts:QualifierTermName>
                        </xsd:documentation>
                        </xsd:annotation>
 
                <xsd:sequence>

                <xsd:element name="Comment" type="ccts:TextType" minOccurs="0">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ATRAES000003-01</ccts:UniqueID>
                        <ccts:CategoryCode>BBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveTransferRequestReplyAcknowledgement.Comment</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>0..1</ccts:Cardinality>
                        <ccts:Definition>Commentaires</ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveTransferRequestReplyAcknowledgement</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>Comment</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>


                <xsd:element name="Date" type="ccts:DateTimeType">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ATRAES000003-02</ccts:UniqueID>
                        <ccts:CategoryCode>BBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveTransferRequestReplyAcknowledgement.Date</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition>Date de l'accusé de réception de la réponse à la demande de transfert</ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveTransferRequestReplyAcknowledgement</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>Date</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                <xsd:element name="ReplyCode" type="ccts:CodeType" maxOccurs="unbounded">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ATRAES000003-03</ccts:UniqueID>
                        <ccts:CategoryCode>BBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveTransferRequestReplyAcknowledgement.ReplyCode</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>1..n</ccts:Cardinality>
                        <ccts:Definition>Code de la réponse (OK, anomalie...)</ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveTransferRequestReplyAcknowledgement</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>ReplyCode</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                <xsd:element name="TransferRequestReplyAcknowledgementIdentifier" type="ccts:IdentifierType">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ATRAES000003-04</ccts:UniqueID>
                        <ccts:CategoryCode>BBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveTransferRequestReplyAcknowledgement.TransferRequestReplyAcknowledgementIdentifier</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition>Identifiant de l'accusé de réception de la réponse à la demande de transfert</ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveTransferRequestReplyAcknowledgement</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>TransferRequestReplyAcknowledgementIdentifier</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                <xsd:element name="TransferRequestReplyIdentifier" type="ccts:IdentifierType">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ATRAES000003-05</ccts:UniqueID>
                        <ccts:CategoryCode>BBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveTransferRequestReplyAcknowledgement.TransferRequestReplyIdentifier</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition>Identifiant de la réponse à la demande de transfert</ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveTransferRequestReplyAcknowledgement</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>TransferRequestReplyIdentifier</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                <xsd:element name="ArchivalAgency" type="OrganizationType">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ATRAES000003-06</ccts:UniqueID>
                        <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveTransferRequestReplyAcknowledgement.ArchivalAgency</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition></ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveTransferRequestReplyAcknowledgement</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>ArchivalAgency</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                <xsd:element name="TransferringAgency" type="OrganizationType">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ATRAES000003-07</ccts:UniqueID>
                        <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveTransferRequestReplyAcknowledgement.TransferringAgency</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition></ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveTransferRequestReplyAcknowledgement</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>TransferringAgency</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                </xsd:sequence>
                <xsd:attribute name="Id" type="xsd:ID" use="optional"/>
        </xsd:complexType>


</xsd:schema>