schema/v01/archives_echanges_v0-1_archiverestitution.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- ======================================================== -->
<!-- =====                                              ===== -->
<!-- =====           ArchiveRestitution                 ===== -->
<!-- =====                                              ===== -->
<!-- ======================================================== -->
<!--

  Last change: 16. February 2006

  ArchiveRestitution Messages, standard d'echange 0.1
  Prefix=ARAES

-->

<xsd:schema version="1.0" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
            xmlns:ccts="urn:unece:uncefact:dataschema:draft:CoreComponentTypesSchemaModule:0:3:4" 
            xmlns="fr:gouv:ae:archive:draft:standard_echange_v0.1" 
            targetNamespace="fr:gouv:ae:archive:draft:standard_echange_v0.1"  
            elementFormDefault="qualified" attributeFormDefault="unqualified">

<!-- ======================================================== -->
<!-- ====                Includes                        ==== -->
<!-- ======================================================== -->


<xsd:include schemaLocation="archives_echanges_v0-1_archive.xsd"/>
<xsd:include schemaLocation="archives_echanges_v0-1_signature.xsd"/>
<xsd:include schemaLocation="archives_echanges_v0-1_organization.xsd"/>
<xsd:include schemaLocation="archives_echanges_v0-1_hashcode.xsd"/>


<!-- ======================================================== -->
<!-- ====                Imports                         ==== -->
<!-- ======================================================== -->
<!-- ======================================================== -->
<!-- ====        Import of CoreComponentTypes            ==== -->
<!-- ======================================================== -->

<xsd:import namespace="urn:unece:uncefact:dataschema:draft:CoreComponentTypesSchemaModule:0:3:4" schemaLocation="CoreComponentTypesSchemaModule_0.3.4.xsd"/>

<!-- ======================================================== -->
<!-- ====      ArchiveRestitutionRequest Message         ==== -->
<!-- ======================================================== -->

        <xsd:element name="ArchiveRestitutionRequest" type="ArchiveRestitutionRequestType"/>

<!-- ======================================================== -->
<!-- ====                Type Definition                 ==== -->
<!-- ======================================================== -->

        <xsd:complexType name="ArchiveRestitutionRequestType">
                        <xsd:annotation>
                        <xsd:documentation>
                        <ccts:UniqueID>ARAES000001</ccts:UniqueID>
                        <ccts:CategoryCode>ABIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveRestitutionRequest</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:DefinitionText>Demande de restitution d'archives</ccts:DefinitionText>
                        <ccts:ObjectClassTermName>ArchiveRestitutionRequest</ccts:ObjectClassTermName>
                        <ccts:QualifierTermName>ArchiveRestitutionRequest</ccts:QualifierTermName>
                        </xsd:documentation>
                        </xsd:annotation>

                <xsd:sequence>

                <xsd:element name="Comment" type="ccts:TextType" minOccurs="0">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ARAES000001-01</ccts:UniqueID>
                        <ccts:CategoryCode>BBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveRestitutionRequest.Comment</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>0..1</ccts:Cardinality>
                        <ccts:Definition>Commentaires</ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveRestitutionRequest</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>Comment</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                <xsd:element name="Date" type="ccts:DateTimeType">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ARAES000001-02</ccts:UniqueID>
                        <ccts:CategoryCode>BBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveRestitutionRequest.Date</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition>Date de la demande de restitution</ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveRestitutionRequest</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>Date</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                        <xsd:element name="RestitutionRequestIdentifier" type="ccts:IdentifierType">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ARAES000001-03</ccts:UniqueID>
                        <ccts:CategoryCode>BBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveRestitutionRequest.RestitutionRequestIdentifier</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition>Identifiant de la demande de restitution</ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveRestitutionRequest</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>RestitutionRequestIdentifier</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                <xsd:element name="UnitIdentifier" type="ccts:IdentifierType" maxOccurs="unbounded">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ARAES000001-04</ccts:UniqueID>
                        <ccts:CategoryCode>BBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveRestitutionRequest.UnitIdentifier</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>1..n</ccts:Cardinality>
                        <ccts:Definition>Tout identifiant permettant de reconnaître le contenu à restituer</ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveRestitutionRequest</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>UnitIdentifier</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                <xsd:element name="OriginatingAgency" type="OrganizationType">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ARAES000001-05</ccts:UniqueID>
                        <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveRestitutionRequest.OriginatingAgency</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition></ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveRestitutionRequest</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>OriginatingAgency</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                <xsd:element name="ArchivalAgency" type="OrganizationType">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ARAES000001-06</ccts:UniqueID>
                        <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveRestitutionRequest.ArchivalAgency</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition></ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveRestitutionRequest</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>ArchivalAgency</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                <xsd:element name="NonRepudiation" type="SignatureType" minOccurs="0">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ARAES000001-07</ccts:UniqueID>
                        <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveRestitutionRequest.NonRepudiation</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>0..1</ccts:Cardinality>
                        <ccts:Definition></ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveRestitutionRequest</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>NonRepudiation</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                <xsd:element name="Archive" type="ArchiveType"  maxOccurs="unbounded">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ARAES000001-08</ccts:UniqueID>
                        <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveRestitutionRequest.Archive</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>1..n</ccts:Cardinality>
                        <ccts:Definition></ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveRestitutionRequest</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>Archive</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                </xsd:sequence>
                <xsd:attribute name="Id" type="xsd:ID" use="optional"/>
        </xsd:complexType>

<!-- ======================================================== -->
<!-- ====  ArchiveRestitutionRequestReply Message        ==== -->
<!-- ======================================================== -->

        <xsd:element name="ArchiveRestitutionRequestReply" type="ArchiveRestitutionRequestReplyType"/>

<!-- ======================================================== -->
<!-- ====                Type Definition                 ==== -->
<!-- ======================================================== -->


        <xsd:complexType name="ArchiveRestitutionRequestReplyType">
                        <xsd:annotation>
                        <xsd:documentation>
                        <ccts:UniqueID>ARAES000002</ccts:UniqueID>
                        <ccts:CategoryCode>ABIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveRestitutionRequestReply</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:DefinitionText>Réponse à une demande de restitution d'archives</ccts:DefinitionText>
                        <ccts:ObjectClassTermName>ArchiveRestitutionRequestReply</ccts:ObjectClassTermName>
                        <ccts:QualifierTermName>ArchiveRestitutionRequestReply</ccts:QualifierTermName>
                        </xsd:documentation>
                        </xsd:annotation>

                <xsd:sequence>

                        <xsd:element name="Comment" type="ccts:TextType" minOccurs="0">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ARAES000002-01</ccts:UniqueID>
                        <ccts:CategoryCode>BBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveRestitutionRequestReply.Comment</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>0..1</ccts:Cardinality>
                        <ccts:Definition>Commentaires</ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveRestitutionRequestReply</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>Comment</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                <xsd:element name="Date" type="ccts:DateTimeType">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ARAES000002-02</ccts:UniqueID>
                        <ccts:CategoryCode>BBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveRestitutionRequestReply.Date</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition>Date de la réponse à la demande de restitution</ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveRestitutionRequestReply</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>Date</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                <xsd:element name="ReplyCode" type="ccts:CodeType" maxOccurs="unbounded">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ARAES000002-03</ccts:UniqueID>
                        <ccts:CategoryCode>BBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveRestitutionRequestReply.ReplyCode</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>1..n</ccts:Cardinality>
                        <ccts:Definition>Code de la réponse (OK, anomalie...)</ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveRestitutionRequestReply</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>ReplyCode</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                <xsd:element name="RestitutionRequestIdentifier" type="ccts:IdentifierType">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ARAES000002-04</ccts:UniqueID>
                        <ccts:CategoryCode>BBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveRestitutionRequestReply.RestitutionRequestIdentifier</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition>Identifiant de la demande de restitution</ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveRestitutionRequestReply</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>RestitutionRequestIdentifier</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                <xsd:element name="RestitutionRequestReplyIdentifier" type="ccts:IdentifierType">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ARAES000002-05</ccts:UniqueID>
                        <ccts:CategoryCode>BBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveRestitutionRequestReply.RestitutionRequestReplyIdentifier</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition>Identifiant de la réponse à la demande de restitution</ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveRestitutionRequestReply</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>RestitutionRequestReplyIdentifier</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                <xsd:element name="UnitIdentifier" type="ccts:IdentifierType" maxOccurs="unbounded">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ARAES000002-06</ccts:UniqueID>
                        <ccts:CategoryCode>BBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveRestitutionRequestReply.UnitIdentifier</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>1..n</ccts:Cardinality>
                        <ccts:Definition>Tout identifiant permettant de reconnaître le contenu à restituer</ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveRestitutionRequestReply</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>UnitIdentifier</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                <xsd:element name="OriginatingAgency" type="OrganizationType">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ARAES000002-07</ccts:UniqueID>
                        <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveRestitutionRequestReply.OriginatingAgency</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition></ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveRestitutionRequestReply</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>OriginatingAgency</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                <xsd:element name="ArchivalAgency" type="OrganizationType">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ARAES000002-08</ccts:UniqueID>
                        <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveRestitutionRequestReply.ArchivalAgency</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition></ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveRestitutionRequestReply</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>ArchivalAgency</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                <xsd:element name="NonRepudiation" type="SignatureType" minOccurs="0">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ARAES000002-08</ccts:UniqueID>
                        <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveRestitutionRequestReply.NonRepudiation</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>0..1</ccts:Cardinality>
                        <ccts:Definition></ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveRestitutionRequestReply</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>NonRepudiation</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                </xsd:sequence>
                <xsd:attribute name="Id" type="xsd:ID" use="optional"/>
        </xsd:complexType>

<!-- ======================================================== -->
<!-- ====          ArchiveRestitution Message            ==== -->
<!-- ======================================================== -->

        <xsd:element name="ArchiveRestitution" type="ArchiveRestitutionType"/>

<!-- ======================================================== -->
<!-- ====                Type Definition                 ==== -->
<!-- ======================================================== -->


        <xsd:complexType name="ArchiveRestitutionType">
                        <xsd:annotation>
                        <xsd:documentation>
                        <ccts:UniqueID>ARAES000003</ccts:UniqueID>
                        <ccts:CategoryCode>ABIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveRestitution</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:DefinitionText>Restitution d'archives</ccts:DefinitionText>
                        <ccts:ObjectClassTermName>ArchiveRestitution</ccts:ObjectClassTermName>
                        <ccts:QualifierTermName>ArchiveRestitution</ccts:QualifierTermName>
                        </xsd:documentation>
                        </xsd:annotation>

                <xsd:sequence>

                <xsd:element name="Comment" type="ccts:TextType" minOccurs="0">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ARAES000003-01</ccts:UniqueID>
                        <ccts:CategoryCode>BBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveRestitution.Comment</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>O..1</ccts:Cardinality>
                        <ccts:Definition>Commentaires</ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveRestitution</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>Comment</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                <xsd:element name="Date" type="ccts:DateTimeType">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ARAES000003-02</ccts:UniqueID>
                        <ccts:CategoryCode>BBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveRestitution.Date</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition>Date de la restitution</ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveRestitution</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>Date</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                <xsd:element name="RestitutionIdentifier" type="ccts:IdentifierType">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ARAES000003-03</ccts:UniqueID>
                        <ccts:CategoryCode>BBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveRestitution.RestitutionIdentifier</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition>Identifiant de la restitution</ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveRestitution</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>RestitutionIdentifier</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                <xsd:element name="RestitutionRequestReplyIdentifier" type="ccts:IdentifierType">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ARAES000003-04</ccts:UniqueID>
                        <ccts:CategoryCode>BBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveRestitution.RestitutionRequestReplyIdentifier</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition>Identifiant de la réponse à la demande de restitution</ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveRestitution</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>RestitutionRequestReplyIdentifier</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                <xsd:element name="UnitIdentifier" type="ccts:IdentifierType" maxOccurs="unbounded">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ARAES000003-05</ccts:UniqueID>
                        <ccts:CategoryCode>BBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveRestitution.UnitIdentifier</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>1..n</ccts:Cardinality>
                        <ccts:Definition>Tout identifiant permettant de reconnaître le contenu restitué</ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveRestitution</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>UnitIdentifier</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                <xsd:element name="OriginatingAgency" type="OrganizationType">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ARAES000003-06</ccts:UniqueID>
                        <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveRestitution.OriginatingAgency</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition></ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveRestitution</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>OriginatingAgency</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                <xsd:element name="ArchivalAgency" type="OrganizationType">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ARAES000003-07</ccts:UniqueID>
                        <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveRestitution.ArchivalAgency</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition></ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveRestitution</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>ArchivalAgency</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                <xsd:element name="Integrity" type="HashCodeType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ARAES000003-08</ccts:UniqueID>
                        <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveRestitution.Integrity</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>0..n</ccts:Cardinality>
                        <ccts:Definition></ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveRestitution</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>Integrity</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                <xsd:element name="NonRepudiation" type="SignatureType" minOccurs="0">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ARAES000003-09</ccts:UniqueID>
                        <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveRestitution.NonRepudiation</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>0..1</ccts:Cardinality>
                        <ccts:Definition></ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveRestitution</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>NonRepudiation</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                <xsd:element name="Archive" type="ArchiveType"  maxOccurs="unbounded">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ARAES000003-10</ccts:UniqueID>
                        <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveRestitution.Archive</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>1..n</ccts:Cardinality>
                        <ccts:Definition></ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveRestitution</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>Archive</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                </xsd:sequence>
                <xsd:attribute name="Id" type="xsd:ID" use="optional"/>
        </xsd:complexType>


<!-- ======================================================== -->
<!-- ====    ArchiveRestitutionAcknowledgement Message   ==== -->
<!-- ======================================================== -->

        <xsd:element name="ArchiveRestitutionAcknowledgement" type="ArchiveRestitutionAcknowledgementType"/>


<!-- ======================================================== -->
<!-- ====                Type Definition                 ==== -->
<!-- ======================================================== -->


        <xsd:complexType name="ArchiveRestitutionAcknowledgementType">
                        <xsd:annotation>
                        <xsd:documentation>
                        <ccts:UniqueID>ARAES000004</ccts:UniqueID>
                        <ccts:CategoryCode>ABIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveRestitutionAcknowledgement</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:DefinitionText>Accusé de réception d'une restitution d'archives</ccts:DefinitionText>
                        <ccts:ObjectClassTermName>ArchiveRestitutionAcknowledgement</ccts:ObjectClassTermName>
                        <ccts:QualifierTermName>ArchiveRestitutionAcknowledgement</ccts:QualifierTermName>
                        </xsd:documentation>
                        </xsd:annotation>

                <xsd:sequence>

                        <xsd:element name="Comment" type="ccts:TextType" minOccurs="0">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ARAES000004-01</ccts:UniqueID>
                        <ccts:CategoryCode>BBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveRestitutionAcknowledgement.Comment</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition></ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveRestitutionAcknowledgement</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>Comment</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                <xsd:element name="Date" type="ccts:DateTimeType">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ARAES000004-02</ccts:UniqueID>
                        <ccts:CategoryCode>BBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveRestitutionAcknowledgement.Date</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition>Date de l'accusé de réception de restitution</ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveRestitutionAcknowledgement</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>Date</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                <xsd:element name="ReplyCode" type="ccts:CodeType" maxOccurs="unbounded">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ARAES000004-03</ccts:UniqueID>
                        <ccts:CategoryCode>BBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveRestitutionAcknowledgement.ReplyCode</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>1..n</ccts:Cardinality>
                        <ccts:Definition>Code de la réponse (OK, anomalie...)</ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveRestitutionAcknowledgement</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>ReplyCode</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                <xsd:element name="RestitutionAcknowledgementIdentifier" type="ccts:IdentifierType">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ARAES000004-04</ccts:UniqueID>
                        <ccts:CategoryCode>BBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveRestitutionAcknowledgement.RestitutionAcknowledgementIdentifier</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition>Identifiant de l'accusé de réception de restitution</ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveRestitutionAcknowledgement</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>RestitutionAcknowledgementIdentifier</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                <xsd:element name="RestitutionIdentifier" type="ccts:IdentifierType">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ARAES000004-05</ccts:UniqueID>
                        <ccts:CategoryCode>BBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveRestitutionAcknowledgement.RestitutionIdentifier</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition>Identifiant de la restitution</ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveRestitutionAcknowledgement</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>RestitutionIdentifier</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                <xsd:element name="UnitIdentifier" type="ccts:IdentifierType" maxOccurs="unbounded">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ARAES000004-06</ccts:UniqueID>
                        <ccts:CategoryCode>BBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveRestitutionAcknowledgement.UnitIdentifier</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition>Tout identifiant permettant de reconnaître le contenu restitué</ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveRestitutionAcknowledgement</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>UnitIdentifier</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>
                <xsd:element name="OriginatingAgency" type="OrganizationType">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ARAES000004-07</ccts:UniqueID>
                        <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveRestitutionAcknowledgement.OriginatingAgency</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition></ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveRestitutionAcknowledgement</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>OriginatingAgency</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                <xsd:element name="ArchivalAgency" type="OrganizationType">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ARAES000004-08</ccts:UniqueID>
                        <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveRestitutionAcknowledgement.ArchivalAgency</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition></ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveRestitutionAcknowledgement</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>ArchivalAgency</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>


                <xsd:element name="NonRepudiation" type="SignatureType" minOccurs="0">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ARAES000004-09</ccts:UniqueID>
                        <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveRestitutionAcknowledgement.NonRepudiation</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>0..1</ccts:Cardinality>
                        <ccts:Definition></ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveRestitutionAcknowledgement</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>NonRepudiation</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                <xsd:element name="Archive" type="ArchiveType"  maxOccurs="unbounded">
                        <xsd:annotation>
                        <xsd:documentation >
                        <ccts:UniqueID>ARAES000004-10</ccts:UniqueID>
                        <ccts:CategoryCode>ASBIE</ccts:CategoryCode>
                        <ccts:DictionaryEntryName>ArchiveRestitutionAcknowledgement.Archive</ccts:DictionaryEntryName>
                        <ccts:VersionID>000001</ccts:VersionID>
                        <ccts:Cardinality>1..n</ccts:Cardinality>
                        <ccts:Definition></ccts:Definition>
                        <ccts:ObjectClassTermName>ArchiveRestitutionAcknowledgement</ccts:ObjectClassTermName>
                        <ccts:PropertyTermName>Archive</ccts:PropertyTermName>
                        </xsd:documentation>
                        </xsd:annotation>
                </xsd:element>

                </xsd:sequence>
                <xsd:attribute name="Id" type="xsd:ID" use="optional"/>
        </xsd:complexType>

</xsd:schema>