schema/v10/seda_v1-0_archivetransfer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================== -->
<!-- ===== ArchiveTransfer - Standard d'echange de donnees pour l'archivage ===== -->
<!-- ================================================================== -->
<!--
        Schema agency: Service interministériel des archives de France (SIAF)
        Schema version: 1.0
        Schema date: 06 Juillet 2012
        
        Copyright (c) 2011 Service interministériel des archives de France
        
        Ce document est sous licence Creative Commons Paternité 2.0 France.
        Pour accéder à une copie de cette licence, merci de vous rendre à l'adresse suivante
        http://creativecommons.org/licenses/by/2.0/fr/ ou envoyez un courrier à
        Creative Commons, 444 Castro Street, Suite 900,
        Mountain View, California, 94041, USA.
        
        Prefix=ATAES
-->

<xsd:schema version="1.0" 
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:2"
        xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:10"
        xmlns:qdt="fr:gouv:culture:archivesdefrance:seda:v1.0:QualifiedDataType:1"
        xmlns="fr:gouv:culture:archivesdefrance:seda:v1.0"
        targetNamespace="fr:gouv:culture:archivesdefrance:seda:v1.0" 
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

        <!-- ======================================================== -->
        <!-- ====                Includes                        ==== -->
        <!-- ======================================================== -->

        <xsd:include schemaLocation="seda_v1-0_archive.xsd"/>
        <xsd:include schemaLocation="seda_v1-0_signature.xsd"/>
        <xsd:include schemaLocation="seda_v1-0_organization.xsd"/>
        <xsd:include schemaLocation="seda_v1-0_acknowledgement.xsd"/>
        
        <!-- ======================================================== -->
        <!-- ====                Imports                         ==== -->
        <!-- ======================================================== -->
        <!-- ======================================================== -->
        <!-- ====        Import of CoreComponentTypes            ==== -->
        <!-- ======================================================== -->

        <xsd:import namespace="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:10" schemaLocation="UnqualifiedDataType_10p0.xsd"/>
        <xsd:import namespace="fr:gouv:culture:archivesdefrance:seda:v1.0:QualifiedDataType:1" schemaLocation="seda_v1-0_QualifiedDataType.xsd"/>

        <!-- ======================================================== -->
        <!-- ====            ArchiveTransfer Message             ==== -->
        <!-- ======================================================== -->

        <xsd:element name="ArchiveTransfer" type="ArchiveTransferType"/>

        <!-- ======================================================== -->
        <!-- ====                Type Definition                 ==== -->
        <!-- ======================================================== -->

        <xsd:complexType name="ArchiveTransferType">
                <xsd:annotation>
                        <xsd:documentation>
                                <ccts:UniqueID>ATAES000001</ccts:UniqueID>
                                <ccts:Acronym>ABIE</ccts:Acronym>
                                <ccts:DictionaryEntryName>ArchiveTransfer</ccts:DictionaryEntryName>
                                <ccts:Version>1.0</ccts:Version>
                                <ccts:DefinitionText>Transfert d'archives</ccts:DefinitionText>
                                <ccts:ObjectClassTerm>ArchiveTransfer</ccts:ObjectClassTerm>
                                <ccts:QualifierTerm>ArchiveTransfer</ccts:QualifierTerm>
                        </xsd:documentation>
                </xsd:annotation>

                <xsd:sequence>

                        <xsd:element name="Comment" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>ATAES000001-01</ccts:UniqueID>
                                                <ccts:Acronym>BBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>ArchiveTransfer.Comment</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>0..n</ccts:Cardinality>
                                                <ccts:Definition>Commentaires</ccts:Definition>
                                                <ccts:ObjectClassTerm>ArchiveTransfer</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>Comment</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>

                        <xsd:element name="Date" type="udt:DateTimeType">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>ATAES000001-02</ccts:UniqueID>
                                                <ccts:Acronym>BBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>ArchiveTransfer.Date</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>1..1</ccts:Cardinality>
                                                <ccts:Definition>Date de l'émission du message</ccts:Definition>
                                                <ccts:ObjectClassTerm>ArchiveTransfer</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>Date</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>

                        <xsd:element name="RelatedTransferReference" type="qdt:ArchivesIDType" minOccurs="0">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>ATAES000001-03</ccts:UniqueID>
                                                <ccts:Acronym>BBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>ArchiveTransfer.RelatedTransferReference</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>0..1</ccts:Cardinality>
                                                <ccts:Definition>Référence à un autre transfert</ccts:Definition>
                                                <ccts:ObjectClassTerm>ArchiveTransfer</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>RelatedTransferReference</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>

                        <xsd:element name="TransferIdentifier" type="qdt:ArchivesIDType">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>ATAES000001-04</ccts:UniqueID>
                                                <ccts:Acronym>BBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>ArchiveTransfer.TransferIdentifier</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>1..1</ccts:Cardinality>
                                                <ccts:Definition>Identifiant du transfert</ccts:Definition>
                                                <ccts:ObjectClassTerm>ArchiveTransfer</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>TransferIdentifier</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>

                        <xsd:element name="TransferRequestReplyIdentifier" type="qdt:ArchivesIDType" minOccurs="0">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>ATAES000001-05</ccts:UniqueID>
                                                <ccts:Acronym>BBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>ArchiveTransfer.TransferRequestReplyIdentifier</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>0..1</ccts:Cardinality>
                                                <ccts:Definition>Identifiant de la réponse à la demande de transfert (permet par exemple de
                                                  rappeler l'accord donné par le service d'archives)</ccts:Definition>
                                                <ccts:ObjectClassTerm>ArchiveTransfer</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>TransferRequestReplyIdentifier</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>
                        
                        <xsd:element name="ArchivalAgency" type="OrganizationType">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>ATAES000001-07</ccts:UniqueID>
                                                <ccts:Acronym>ASBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>ArchiveTransfer.ArchivalAgency</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>1..1</ccts:Cardinality>
                                                <ccts:Definition>Service d'archives</ccts:Definition>
                                                <ccts:ObjectClassTerm>ArchiveTransfer</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>ArchivalAgency</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>
                        
                        <xsd:element name="TransferringAgency" type="OrganizationType">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>ATAES000001-06</ccts:UniqueID>
                                                <ccts:Acronym>ASBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>ArchiveTransfer.TransferringAgency</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>1..1</ccts:Cardinality>
                                                <ccts:Definition>Service versant</ccts:Definition>
                                                <ccts:ObjectClassTerm>ArchiveTransfer</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>TransferringAgency</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>
                        
                        <xsd:element name="Archive" type="ArchiveType" maxOccurs="unbounded">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>ATAES000001-10</ccts:UniqueID>
                                                <ccts:Acronym>ASBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>ArchiveTransfer.Archive</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>1..n</ccts:Cardinality>
                                                <ccts:Definition>Archive</ccts:Definition>
                                                <ccts:ObjectClassTerm>ArchiveTransfer</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>Archive</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>

                        <xsd:element name="NonRepudiation" type="SignatureType" minOccurs="0">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>ATAES000001-09</ccts:UniqueID>
                                                <ccts:Acronym>ASBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>ArchiveTransfer.NonRepudiation</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>0..1</ccts:Cardinality>
                                                <ccts:Definition>Signature du message</ccts:Definition>
                                                <ccts:ObjectClassTerm>ArchiveTransfer</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>NonRepudiation</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>

                </xsd:sequence>
                <xsd:attribute name="Id" type="xsd:ID" use="optional"/>
        </xsd:complexType>

        <!-- ======================================================== -->
        <!-- ====        ArchiveTransferReply Message            ==== -->
        <!-- ======================================================== -->

        <xsd:element name="ArchiveTransferReply" type="ArchiveTransferReplyType"/>

        <!-- ======================================================== -->
        <!-- ====                Type Definition                 ==== -->
        <!-- ======================================================== -->

        <xsd:complexType name="ArchiveTransferReplyType">
                <xsd:annotation>
                        <xsd:documentation>
                                <ccts:UniqueID>ATAES000002</ccts:UniqueID>
                                <ccts:Acronym>ABIE</ccts:Acronym>
                                <ccts:DictionaryEntryName>ArchiveTransferReply</ccts:DictionaryEntryName>
                                <ccts:Version>1.0</ccts:Version>
                                <ccts:DefinitionText>Réponse à un transfert d'archives (acceptation, rejet, anomalie..)</ccts:DefinitionText>
                                <ccts:ObjectClassTerm>ArchiveTransferReply</ccts:ObjectClassTerm>
                                <ccts:QualifierTerm>ArchiveTransferReply</ccts:QualifierTerm>
                        </xsd:documentation>
                </xsd:annotation>

                <xsd:sequence>

                        <xsd:element name="Comment" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>ATAES000002-01</ccts:UniqueID>
                                                <ccts:Acronym>BBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>ArchiveTransferReply.Comment</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>0..n</ccts:Cardinality>
                                                <ccts:Definition>Commentaires</ccts:Definition>
                                                <ccts:ObjectClassTerm>ArchiveTransferReply</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>Comment</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>

                        <xsd:element name="Date" type="udt:DateTimeType">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>ATAES000002-02</ccts:UniqueID>
                                                <ccts:Acronym>BBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>ArchiveTransferReply.Date</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>1..1</ccts:Cardinality>
                                                <ccts:Definition>Date de l'émission du message</ccts:Definition>
                                                <ccts:ObjectClassTerm>ArchiveTransferReply</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>Date</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>

                        <xsd:element name="GrantDate" type="udt:DateTimeType" minOccurs="0">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>ATAES000002-10</ccts:UniqueID>
                                                <ccts:Acronym>BBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>ArchiveTransferReply.GrantDate</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>0..1</ccts:Cardinality>
                                                <ccts:Definition>Date de prise en compte de la décision de transfert de responsabilité</ccts:Definition>
                                                <ccts:ObjectClassTerm>ArchiveTransferReply</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>GrantDate</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>
                        
                        <xsd:element name="ReplyCode" type="qdt:ArchivesCodeType" minOccurs="0">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>ATAES000002-03</ccts:UniqueID>
                                                <ccts:Acronym>BBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>ArchiveTransferReply.ReplyCode</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>0..1</ccts:Cardinality>
                                                <ccts:Definition>Indique l'anomalie en cas de rejet du transfert.</ccts:Definition>
                                                <ccts:ObjectClassTerm>ArchiveTransferReply</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>ReplyCode</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>

                        <xsd:element name="TransferIdentifier" type="qdt:ArchivesIDType">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>ATAES000002-04</ccts:UniqueID>
                                                <ccts:Acronym>BBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>ArchiveTransferReply.TransferIdentifier</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>1..1</ccts:Cardinality>
                                                <ccts:Definition>Identifiant du transfert</ccts:Definition>
                                                <ccts:ObjectClassTerm>ArchiveTransferReply</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>TransferIdentifier</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>

                        <xsd:element name="TransferReplyIdentifier" type="qdt:ArchivesIDType">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>ATAES000002-05</ccts:UniqueID>
                                                <ccts:Acronym>BBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>ArchiveTransferReply.TransferReplyIdentifier</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>1..1</ccts:Cardinality>
                                                <ccts:Definition>Identifiant de la réponse au transfert</ccts:Definition>
                                                <ccts:ObjectClassTerm>ArchiveTransferReply</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>TransferReplyIdentifier</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>

                        <xsd:element name="ArchivalAgency" type="OrganizationType">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>ATAES000002-07</ccts:UniqueID>
                                                <ccts:Acronym>ASBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>ArchiveTransferReply.ArchivalAgency</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>1..1</ccts:Cardinality>
                                                <ccts:Definition>Service d'archives</ccts:Definition>
                                                <ccts:ObjectClassTerm>ArchiveTransferReply</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>ArchivalAgency</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>
                        
                        <xsd:element name="TransferringAgency" type="OrganizationType">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>ATAES000002-06</ccts:UniqueID>
                                                <ccts:Acronym>ASBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>ArchiveTransferReply.TransferringAgency</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>1..1</ccts:Cardinality>
                                                <ccts:Definition>Service versant</ccts:Definition>
                                                <ccts:ObjectClassTerm>ArchiveTransferReply</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>TransferringAgency</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>

                         <xsd:element name="Archive" type="ArchiveType" minOccurs="0" maxOccurs="unbounded">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>ATAES000002-08</ccts:UniqueID>
                                                <ccts:Acronym>ASBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>ArchiveTransferReply.Archive</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>0..n</ccts:Cardinality>
                                                <ccts:Definition>Archive</ccts:Definition>
                                                <ccts:ObjectClassTerm>ArchiveTransferReply</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>Archive</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>
                        
                        <xsd:element name="NonRepudiation" type="SignatureType" minOccurs="0">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>ATAES000002-09</ccts:UniqueID>
                                                <ccts:Acronym>ASBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>ArchiveTransferReply.NonRepudiation</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>0..1</ccts:Cardinality>
                                                <ccts:Definition>Signature du message</ccts:Definition>
                                                <ccts:ObjectClassTerm>ArchiveTransferReply</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>NonRepudiation</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>

                </xsd:sequence>
                <xsd:attribute name="Id" type="xsd:ID" use="optional"/>
        </xsd:complexType>

</xsd:schema>
