schema/v10/seda_v1-0_archivedelivery.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================== -->
<!-- ===== ArchiveDelivery - Standard d'echange de donnees pour l'archivage ===== -->
<!-- ================================================================== -->
<!--
    Schema agency: Service interministériel des archives de France (SIAF)
    Schema version: 1.0
    Schema date: 06 Juillet 2012
    
    Copyright (c) 2011 Service interministériel des archives de France
    
    Ce document est sous licence Creative Commons Paternité 2.0 France.
    Pour accéder à une copie de cette licence, merci de vous rendre à l'adresse suivante
    http://creativecommons.org/licenses/by/2.0/fr/ ou envoyez un courrier à
    Creative Commons, 444 Castro Street, Suite 900,
    Mountain View, California, 94041, USA.
    
    Prefix=ADYAES
-->
<xsd:schema
    targetNamespace="fr:gouv:culture:archivesdefrance:seda:v1.0"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="fr:gouv:culture:archivesdefrance:seda:v1.0"
    xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:10"
    xmlns:qdt="fr:gouv:culture:archivesdefrance:seda:v1.0:QualifiedDataType:1"
    xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:2"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="1.0">

    <!-- ======================================================== -->
    <!-- ====                Includes                        ==== -->
    <!-- ======================================================== -->
    <xsd:include schemaLocation="seda_v1-0_archive.xsd"/>
    <xsd:include schemaLocation="seda_v1-0_signature.xsd"/>
    <xsd:include schemaLocation="seda_v1-0_organization.xsd"/>
    <xsd:include schemaLocation="seda_v1-0_acknowledgement.xsd"/>

    <!-- ======================================================== -->
    <!-- ====                Imports                         ==== -->
    <!-- ======================================================== -->
    <!-- ======================================================== -->
    <!-- ====        Import of CoreComponentTypes            ==== -->
    <!-- ======================================================== -->
    <xsd:import namespace="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:10" schemaLocation="UnqualifiedDataType_10p0.xsd"/>
    <xsd:import namespace="fr:gouv:culture:archivesdefrance:seda:v1.0:QualifiedDataType:1" schemaLocation="seda_v1-0_QualifiedDataType.xsd"/>

    <!-- ======================================================== -->
    <!-- ====        ArchiveDeliveryRequest Message          ==== -->
    <!-- ======================================================== -->
    <xsd:element name="ArchiveDeliveryRequest" type="ArchiveDeliveryRequestType"/>

    <!-- ======================================================== -->
    <!-- ====                Type Definition                 ==== -->
    <!-- ======================================================== -->
    <xsd:complexType name="ArchiveDeliveryRequestType">
        <xsd:annotation>
            <xsd:documentation>
                <ccts:UniqueID>ADYAES000001</ccts:UniqueID>
                <ccts:Acronym>ABIE</ccts:Acronym>
                <ccts:DictionaryEntryName>ArchiveDeliveryRequest</ccts:DictionaryEntryName>
                <ccts:Version>1.0</ccts:Version>
                <ccts:DefinitionText>Demande de communication d'archives</ccts:DefinitionText>
                <ccts:ObjectClassTerm>ArchiveDeliveryRequest</ccts:ObjectClassTerm>
                <ccts:QualifierTerm>ArchiveDeliveryRequest</ccts:QualifierTerm>
            </xsd:documentation>
        </xsd:annotation>

        <xsd:sequence>
            
            <xsd:element name="Comment" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:UniqueID>ADYAES000001-01</ccts:UniqueID>
                        <ccts:Acronym>BBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>ArchiveDeliveryRequest.Comment</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Cardinality>0..n</ccts:Cardinality>
                        <ccts:Definition>Commentaires</ccts:Definition>
                        <ccts:ObjectClassTerm>ArchiveDeliveryRequest</ccts:ObjectClassTerm>
                        <ccts:PropertyTerm>Comment</ccts:PropertyTerm>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="Date" type="udt:DateTimeType">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:UniqueID>ADYAES000001-02</ccts:UniqueID>
                        <ccts:Acronym>BBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>ArchiveDeliveryRequest.Date</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition>Date d'émission du message</ccts:Definition>
                        <ccts:ObjectClassTerm>ArchiveDeliveryRequest</ccts:ObjectClassTerm>
                        <ccts:PropertyTerm>Date</ccts:PropertyTerm>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="DeliveryRequestIdentifier" type="qdt:ArchivesIDType">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:UniqueID>ADYAES000001-03</ccts:UniqueID>
                        <ccts:Acronym>BBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>ArchiveDeliveryRequest.DeliveryRequestIdentifier</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition>Identifiant de la demande de communication</ccts:Definition>
                        <ccts:ObjectClassTerm>ArchiveDeliveryRequest</ccts:ObjectClassTerm>
                        <ccts:PropertyTerm>DeliveryRequestIdentifier</ccts:PropertyTerm>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="Derogation" type="udt:IndicatorType">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:UniqueID>ADYAES000001-04</ccts:UniqueID>
                        <ccts:Acronym>BBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>ArchiveDeliveryRequest.Derogation</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition>Indique si le demandeur souhaite qu'une procédure de dérogation soit enclenchée en cas de non communicabilité de l'archive demandée en communication</ccts:Definition>
                        <ccts:ObjectClassTerm>ArchiveDeliveryRequest</ccts:ObjectClassTerm>
                        <ccts:PropertyTerm>Derogation</ccts:PropertyTerm>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="UnitIdentifier" type="qdt:UnitIdentifierType" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:UniqueID>ADYAES000001-05</ccts:UniqueID>
                        <ccts:Acronym>BBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>ArchiveDeliveryRequest.UnitIdentifier</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Cardinality>1..n</ccts:Cardinality>
                        <ccts:Definition>Tout identifiant permettant de reconnaître le contenu demandé</ccts:Definition>
                        <ccts:ObjectClassTerm>ArchiveDeliveryRequest</ccts:ObjectClassTerm>
                        <ccts:PropertyTerm>UnitIdentifier</ccts:PropertyTerm>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <xsd:element name="ArchivalAgency" type="OrganizationType">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:UniqueID>ADYAES000001-07</ccts:UniqueID>
                        <ccts:Acronym>ASBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>ArchiveDeliveryRequest.ArchivalAgency</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition>Service d'archives</ccts:Definition>
                        <ccts:ObjectClassTerm>ArchiveDeliveryRequest</ccts:ObjectClassTerm>
                        <ccts:PropertyTerm>ArchivalAgency</ccts:PropertyTerm>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <xsd:element name="Requester" type="OrganizationType">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:UniqueID>ADYAES000001-06</ccts:UniqueID>
                        <ccts:Acronym>ASBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>ArchiveDeliveryRequest.Requester</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition>Demandeur</ccts:Definition>
                        <ccts:ObjectClassTerm>ArchiveDeliveryRequest</ccts:ObjectClassTerm>
                        <ccts:PropertyTerm>Requester</ccts:PropertyTerm>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="NonRepudiation" type="SignatureType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:UniqueID>ADYAES000001-08</ccts:UniqueID>
                        <ccts:Acronym>ASBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>ArchiveDeliveryRequest.NonRepudiation</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Cardinality>0..1</ccts:Cardinality>
                        <ccts:Definition>Signature du message</ccts:Definition>
                        <ccts:ObjectClassTerm>ArchiveDeliveryRequest</ccts:ObjectClassTerm>
                        <ccts:PropertyTerm>NonRepudiation</ccts:PropertyTerm>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

        </xsd:sequence>
        <xsd:attribute name="Id" type="xsd:ID" use="optional"/>
    </xsd:complexType>


    <!-- ======================================================== -->
    <!-- ====       ArchiveDeliveryRequestReply Message      ==== -->
    <!-- ======================================================== -->
    <xsd:element name="ArchiveDeliveryRequestReply" type="ArchiveDeliveryRequestReplyType"/>

    <!-- ======================================================== -->
    <!-- ====                Type Definition                 ==== -->
    <!-- ======================================================== -->
    <xsd:complexType name="ArchiveDeliveryRequestReplyType">
        <xsd:annotation>
            <xsd:documentation>
                <ccts:UniqueID>ADYAES000002</ccts:UniqueID>
                <ccts:Acronym>ABIE</ccts:Acronym>
                <ccts:DictionaryEntryName>ArchiveDeliveryRequestReply</ccts:DictionaryEntryName>
                <ccts:Version>1.0</ccts:Version>
                <ccts:DefinitionText>Réponse à une demande de communication d'archives</ccts:DefinitionText>
                <ccts:ObjectClassTerm>ArchiveDeliveryRequestReply</ccts:ObjectClassTerm>
                <ccts:QualifierTerm>ArchiveDeliveryRequestReply</ccts:QualifierTerm>
            </xsd:documentation>
        </xsd:annotation>

        <xsd:sequence>

            <xsd:element name="Comment" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:UniqueID>ADYAES000002-01</ccts:UniqueID>
                        <ccts:Acronym>BBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>ArchiveDeliveryRequestReply.Comment</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Cardinality>0..n</ccts:Cardinality>
                        <ccts:Definition>Commentaires</ccts:Definition>
                        <ccts:ObjectClassTerm>ArchiveDeliveryRequestReply</ccts:ObjectClassTerm>
                        <ccts:PropertyTerm>Comment</ccts:PropertyTerm>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="Date" type="udt:DateTimeType">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:UniqueID>ADYAES000002-02</ccts:UniqueID>
                        <ccts:Acronym>BBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>ArchiveDeliveryRequestReply.Date</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition>Date d'émission du message</ccts:Definition>
                        <ccts:ObjectClassTerm>ArchiveDeliveryRequestReply</ccts:ObjectClassTerm>
                        <ccts:PropertyTerm>Date</ccts:PropertyTerm>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="AuthorizationRequestReplyIdentifier" type="qdt:ArchivesIDType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:UniqueID>ADYAES000002-05</ccts:UniqueID>
                        <ccts:Acronym>BBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>ArchiveDeliveryRequestReply.AuthorizationRequestReplyIdentifier</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Cardinality>0..n</ccts:Cardinality>
                        <ccts:Definition>Identifiant de la réponse à la demande d'autorisation de communication</ccts:Definition>
                        <ccts:ObjectClassTerm>ArchiveDeliveryRequestReply</ccts:ObjectClassTerm>
                        <ccts:PropertyTerm>AuthorizationRequestReplyIdentifier</ccts:PropertyTerm>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="DeliveryRequestIdentifier" type="qdt:ArchivesIDType">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:UniqueID>ADYAES000002-03</ccts:UniqueID>
                        <ccts:Acronym>BBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>ArchiveDeliveryRequestReply.DeliveryRequestIdentifier</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition>Identifiant de la demande de communication</ccts:Definition>
                        <ccts:ObjectClassTerm>ArchiveDeliveryRequestReply</ccts:ObjectClassTerm>
                        <ccts:PropertyTerm>DeliveryRequestIdentifier</ccts:PropertyTerm>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="DeliveryRequestReplyIdentifier" type="qdt:ArchivesIDType">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:UniqueID>ADYAES000002-04</ccts:UniqueID>
                        <ccts:Acronym>BBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>ArchiveDeliveryRequestReply.DeliveryRequestReplyIdentifier</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition>Identifiant de la réponse à la demande de communcation</ccts:Definition>
                        <ccts:ObjectClassTerm>ArchiveDeliveryRequestReply</ccts:ObjectClassTerm>
                        <ccts:PropertyTerm>DeliveryRequestReplyIdentifier</ccts:PropertyTerm>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="ReplyCode" type="qdt:ArchivesCodeType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:UniqueID>ADYAES000002-06</ccts:UniqueID>
                        <ccts:Acronym>BBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>ArchiveDeliveryRequestReply.ReplyCode</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Cardinality>0..1</ccts:Cardinality>
                        <ccts:Definition>Indique l'anomalie en cas de rejet de la demande de communication d'archives.</ccts:Definition>
                        <ccts:ObjectClassTerm>ArchiveDeliveryRequestReply</ccts:ObjectClassTerm>
                        <ccts:PropertyTerm>ReplyCode</ccts:PropertyTerm>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="UnitIdentifier" type="qdt:UnitIdentifierType" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:UniqueID>ADYAES000002-07</ccts:UniqueID>
                        <ccts:Acronym>BBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>ArchiveDeliveryRequestReply.UnitIdentifier</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Cardinality>1..n</ccts:Cardinality>
                        <ccts:Definition>Tout identifiant permettant de reconnaître le contenu susceptible d'être communiqué</ccts:Definition>
                        <ccts:ObjectClassTerm>ArchiveDeliveryRequestReply</ccts:ObjectClassTerm>
                        <ccts:PropertyTerm>UnitIdentifier</ccts:PropertyTerm>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <xsd:element name="ArchivalAgency" type="OrganizationType">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:UniqueID>ADYAES000002-09</ccts:UniqueID>
                        <ccts:Acronym>ASBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>ArchiveDeliveryRequestReply.ArchivalAgency</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition>Service d'archives</ccts:Definition>
                        <ccts:ObjectClassTerm>ArchiveDeliveryRequestReply</ccts:ObjectClassTerm>
                        <ccts:PropertyTerm>ArchivalAgency</ccts:PropertyTerm>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <xsd:element name="Requester" type="OrganizationType">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:UniqueID>ADYAES000002-08</ccts:UniqueID>
                        <ccts:Acronym>ASBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>ArchiveDeliveryRequestReply.Requester</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition>Demandeur </ccts:Definition>
                        <ccts:ObjectClassTerm>ArchiveDeliveryRequestReply</ccts:ObjectClassTerm>
                        <ccts:PropertyTerm>Requester</ccts:PropertyTerm>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="Archive" type="ArchiveType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:UniqueID>ADYAES000002-10</ccts:UniqueID>
                        <ccts:Acronym>ASBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>ArchiveDeliveryRequestReply.Archive</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Cardinality>0..n</ccts:Cardinality>
                        <ccts:Definition>Archive</ccts:Definition>
                        <ccts:ObjectClassTerm>ArchiveDeliveryRequestReply</ccts:ObjectClassTerm>
                        <ccts:PropertyTerm>Archive</ccts:PropertyTerm>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <xsd:element name="NonRepudiation" type="SignatureType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:UniqueID>ADYAES000002-11</ccts:UniqueID>
                        <ccts:Acronym>ASBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>ArchiveDeliveryRequestReply.NonRepudiation</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Cardinality>0..1</ccts:Cardinality>
                        <ccts:Definition>Signature du message</ccts:Definition>
                        <ccts:ObjectClassTerm>ArchiveDeliveryRequestReply</ccts:ObjectClassTerm>
                        <ccts:PropertyTerm>NonRepudiation</ccts:PropertyTerm>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

        </xsd:sequence>
        <xsd:attribute name="Id" type="xsd:ID" use="optional"/>
    </xsd:complexType>
 
</xsd:schema>
