schema/v10/seda_v1-0_archiverestitution.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================== -->
<!-- ===== ArchiveRestitution - Standard d'echange de donnees pour l'archivage ===== -->
<!-- ================================================================== -->
<!--
    Schema agency: Service interministériel des archives de France (SIAF)
    Schema version: 1.0
    Schema date: 06 Juillet 2012
    
    Copyright (c) 2011 Service interministériel des archives de France
    
    Ce document est sous licence Creative Commons Paternité 2.0 France.
    Pour accéder à une copie de cette licence, merci de vous rendre à l'adresse suivante
    http://creativecommons.org/licenses/by/2.0/fr/ ou envoyez un courrier à
    Creative Commons, 444 Castro Street, Suite 900,
    Mountain View, California, 94041, USA.
    
    Prefix: ARAES
-->

<xsd:schema 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:2"
    xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:10"
    xmlns:qdt="fr:gouv:culture:archivesdefrance:seda:v1.0:QualifiedDataType:1"
    xmlns="fr:gouv:culture:archivesdefrance:seda:v1.0"
    targetNamespace="fr:gouv:culture:archivesdefrance:seda:v1.0" 
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="1.0" >

    <!-- ======================================================== -->
    <!-- ====                Includes                        ==== -->
    <!-- ======================================================== -->

    <xsd:include schemaLocation="seda_v1-0_archive.xsd"/>
    <xsd:include schemaLocation="seda_v1-0_signature.xsd"/>
    <xsd:include schemaLocation="seda_v1-0_organization.xsd"/>
    <xsd:include schemaLocation="seda_v1-0_acknowledgement.xsd"/>

    <!-- ======================================================== -->
    <!-- ====                Imports                         ==== -->
    <!-- ======================================================== -->
    <!-- ======================================================== -->
    <!-- ====        Import of CoreComponentTypes            ==== -->
    <!-- ======================================================== -->

    <xsd:import namespace="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:10" schemaLocation="UnqualifiedDataType_10p0.xsd"/>
    <xsd:import namespace="fr:gouv:culture:archivesdefrance:seda:v1.0:QualifiedDataType:1" schemaLocation="seda_v1-0_QualifiedDataType.xsd"/>

    <!-- ======================================================== -->
    <!-- ====      ArchiveRestitutionRequest Message         ==== -->
    <!-- ======================================================== -->

    <xsd:element name="ArchiveRestitutionRequest" type="ArchiveRestitutionRequestType"/>

    <!-- ======================================================== -->
    <!-- ====                Type Definition                 ==== -->
    <!-- ======================================================== -->

    <xsd:complexType name="ArchiveRestitutionRequestType">
        <xsd:annotation>
            <xsd:documentation>
                <ccts:UniqueID>ARAES000001</ccts:UniqueID>
                <ccts:Acronym>ABIE</ccts:Acronym>
                <ccts:DictionaryEntryName>ArchiveRestitutionRequest</ccts:DictionaryEntryName>
                <ccts:Version>1.0</ccts:Version>
                <ccts:DefinitionText>Demande de restitution d'archives</ccts:DefinitionText>
                <ccts:ObjectClassTerm>ArchiveRestitutionRequest</ccts:ObjectClassTerm>
                <ccts:QualifierTerm>ArchiveRestitutionRequest</ccts:QualifierTerm>
            </xsd:documentation>
        </xsd:annotation>

        <xsd:sequence>

            <xsd:element name="Comment" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:UniqueID>ARAES000001-01</ccts:UniqueID>
                        <ccts:Acronym>BBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>ArchiveRestitutionRequest.Comment</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Cardinality>0..n</ccts:Cardinality>
                        <ccts:Definition>Commentaires</ccts:Definition>
                        <ccts:ObjectClassTerm>ArchiveRestitutionRequest</ccts:ObjectClassTerm>
                        <ccts:PropertyTerm>Comment</ccts:PropertyTerm>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="Date" type="udt:DateTimeType">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:UniqueID>ARAES000001-02</ccts:UniqueID>
                        <ccts:Acronym>BBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>ArchiveRestitutionRequest.Date</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition>Date d'émission du message</ccts:Definition>
                        <ccts:ObjectClassTerm>ArchiveRestitutionRequest</ccts:ObjectClassTerm>
                        <ccts:PropertyTerm>Date</ccts:PropertyTerm>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="RestitutionRequestIdentifier" type="qdt:ArchivesIDType">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:UniqueID>ARAES000001-03</ccts:UniqueID>
                        <ccts:Acronym>BBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>ArchiveRestitutionRequest.RestitutionRequestIdentifier</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition>Identifiant de la demande de restitution</ccts:Definition>
                        <ccts:ObjectClassTerm>ArchiveRestitutionRequest</ccts:ObjectClassTerm>
                        <ccts:PropertyTerm>RestitutionRequestIdentifier</ccts:PropertyTerm>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="UnitIdentifier" type="qdt:UnitIdentifierType" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:UniqueID>ARAES000001-04</ccts:UniqueID>
                        <ccts:Acronym>BBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>ArchiveRestitutionRequest.UnitIdentifier</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Cardinality>1..n</ccts:Cardinality>
                        <ccts:Definition>Tout identifiant permettant de reconnaître le contenu à restituer</ccts:Definition>
                        <ccts:ObjectClassTerm>ArchiveRestitutionRequest</ccts:ObjectClassTerm>
                        <ccts:PropertyTerm>UnitIdentifier</ccts:PropertyTerm>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="ArchivalAgency" type="OrganizationType">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:UniqueID>ARAES000001-06</ccts:UniqueID>
                        <ccts:Acronym>ASBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>ArchiveRestitutionRequest.ArchivalAgency</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition>Service d'archives</ccts:Definition>
                        <ccts:ObjectClassTerm>ArchiveRestitutionRequest</ccts:ObjectClassTerm>
                        <ccts:PropertyTerm>ArchivalAgency</ccts:PropertyTerm>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="OriginatingAgency" type="OrganizationType">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:UniqueID>ARAES000001-05</ccts:UniqueID>
                        <ccts:Acronym>ASBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>ArchiveRestitutionRequest.OriginatingAgency</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition>Service producteur</ccts:Definition>
                        <ccts:ObjectClassTerm>ArchiveRestitutionRequest</ccts:ObjectClassTerm>
                        <ccts:PropertyTerm>OriginatingAgency</ccts:PropertyTerm>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="Archive" type="ArchiveType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:UniqueID>ARAES000001-08</ccts:UniqueID>
                        <ccts:Acronym>ASBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>ArchiveRestitutionRequest.Archive</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Cardinality>0..n</ccts:Cardinality>
                        <ccts:Definition>Archive</ccts:Definition>
                        <ccts:ObjectClassTerm>ArchiveRestitutionRequest</ccts:ObjectClassTerm>
                        <ccts:PropertyTerm>Archive</ccts:PropertyTerm>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <xsd:element name="NonRepudiation" type="SignatureType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:UniqueID>ARAES000001-07</ccts:UniqueID>
                        <ccts:Acronym>ASBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>ArchiveRestitutionRequest.NonRepudiation</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Cardinality>0..1</ccts:Cardinality>
                        <ccts:Definition>Signature du message</ccts:Definition>
                        <ccts:ObjectClassTerm>ArchiveRestitutionRequest</ccts:ObjectClassTerm>
                        <ccts:PropertyTerm>NonRepudiation</ccts:PropertyTerm>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="Id" type="xsd:ID" use="optional"/>
    </xsd:complexType>

    <!-- ======================================================== -->
    <!-- ====  ArchiveRestitutionRequestReply Message        ==== -->
    <!-- ======================================================== -->

    <xsd:element name="ArchiveRestitutionRequestReply" type="ArchiveRestitutionRequestReplyType"/>

    <!-- ======================================================== -->
    <!-- ====                Type Definition                 ==== -->
    <!-- ======================================================== -->


    <xsd:complexType name="ArchiveRestitutionRequestReplyType">
        <xsd:annotation>
            <xsd:documentation>
                <ccts:UniqueID>ARAES000002</ccts:UniqueID>
                <ccts:Acronym>ABIE</ccts:Acronym>
                <ccts:DictionaryEntryName>ArchiveRestitutionRequestReply</ccts:DictionaryEntryName>
                <ccts:Version>1.0</ccts:Version>
                <ccts:DefinitionText>Réponse à une demande de restitution d'archives</ccts:DefinitionText>
                <ccts:ObjectClassTerm>ArchiveRestitutionRequestReply</ccts:ObjectClassTerm>
                <ccts:QualifierTerm>ArchiveRestitutionRequestReply</ccts:QualifierTerm>
            </xsd:documentation>
        </xsd:annotation>

        <xsd:sequence>

            <xsd:element name="Comment" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:UniqueID>ARAES000002-01</ccts:UniqueID>
                        <ccts:Acronym>BBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>ArchiveRestitutionRequestReply.Comment</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Cardinality>0..n</ccts:Cardinality>
                        <ccts:Definition>Commentaires</ccts:Definition>
                        <ccts:ObjectClassTerm>ArchiveRestitutionRequestReply</ccts:ObjectClassTerm>
                        <ccts:PropertyTerm>Comment</ccts:PropertyTerm>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="Date" type="udt:DateTimeType">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:UniqueID>ARAES000002-02</ccts:UniqueID>
                        <ccts:Acronym>BBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>ArchiveRestitutionRequestReply.Date</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition>Date d'émission du message</ccts:Definition>
                        <ccts:ObjectClassTerm>ArchiveRestitutionRequestReply</ccts:ObjectClassTerm>
                        <ccts:PropertyTerm>Date</ccts:PropertyTerm>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="ReplyCode" type="qdt:ArchivesCodeType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:UniqueID>ARAES000002-03</ccts:UniqueID>
                        <ccts:Acronym>BBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>ArchiveRestitutionRequestReply.ReplyCode</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Cardinality>0..1</ccts:Cardinality>
                        <ccts:Definition>Indique l'anomalie en cas de rejet de la demande de restitution.</ccts:Definition>
                        <ccts:ObjectClassTerm>ArchiveRestitutionRequestReply</ccts:ObjectClassTerm>
                        <ccts:PropertyTerm>ReplyCode</ccts:PropertyTerm>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="RestitutionRequestIdentifier" type="qdt:ArchivesIDType">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:UniqueID>ARAES000002-04</ccts:UniqueID>
                        <ccts:Acronym>BBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>ArchiveRestitutionRequestReply.RestitutionRequestIdentifier</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition>Identifiant de la demande de restitution</ccts:Definition>
                        <ccts:ObjectClassTerm>ArchiveRestitutionRequestReply</ccts:ObjectClassTerm>
                        <ccts:PropertyTerm>RestitutionRequestIdentifier</ccts:PropertyTerm>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="RestitutionRequestReplyIdentifier" type="qdt:ArchivesIDType">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:UniqueID>ARAES000002-05</ccts:UniqueID>
                        <ccts:Acronym>BBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>ArchiveRestitutionRequestReply.RestitutionRequestReplyIdentifier</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition>Identifiant de la réponse à la demande de restitution</ccts:Definition>
                        <ccts:ObjectClassTerm>ArchiveRestitutionRequestReply</ccts:ObjectClassTerm>
                        <ccts:PropertyTerm>RestitutionRequestReplyIdentifier</ccts:PropertyTerm>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="UnitIdentifier" type="qdt:UnitIdentifierType" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:UniqueID>ARAES000002-06</ccts:UniqueID>
                        <ccts:Acronym>BBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>ArchiveRestitutionRequestReply.UnitIdentifier</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Cardinality>1..n</ccts:Cardinality>
                        <ccts:Definition>Tout identifiant permettant de reconnaître le contenu à restituer</ccts:Definition>
                        <ccts:ObjectClassTerm>ArchiveRestitutionRequestReply</ccts:ObjectClassTerm>
                        <ccts:PropertyTerm>UnitIdentifier</ccts:PropertyTerm>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="ArchivalAgency" type="OrganizationType">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:UniqueID>ARAES000002-08</ccts:UniqueID>
                        <ccts:Acronym>ASBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>ArchiveRestitutionRequestReply.ArchivalAgency</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition>Service d'archives</ccts:Definition>
                        <ccts:ObjectClassTerm>ArchiveRestitutionRequestReply</ccts:ObjectClassTerm>
                        <ccts:PropertyTerm>ArchivalAgency</ccts:PropertyTerm>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="OriginatingAgency" type="OrganizationType">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:UniqueID>ARAES000002-07</ccts:UniqueID>
                        <ccts:Acronym>ASBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>ArchiveRestitutionRequestReply.OriginatingAgency</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition>Service producteur</ccts:Definition>
                        <ccts:ObjectClassTerm>ArchiveRestitutionRequestReply</ccts:ObjectClassTerm>
                        <ccts:PropertyTerm>OriginatingAgency</ccts:PropertyTerm>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="NonRepudiation" type="SignatureType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:UniqueID>ARAES000002-09</ccts:UniqueID>
                        <ccts:Acronym>ASBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>ArchiveRestitutionRequestReply.NonRepudiation</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Cardinality>0..1</ccts:Cardinality>
                        <ccts:Definition>Signature du message</ccts:Definition>
                        <ccts:ObjectClassTerm>ArchiveRestitutionRequestReply</ccts:ObjectClassTerm>
                        <ccts:PropertyTerm>NonRepudiation</ccts:PropertyTerm>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

        </xsd:sequence>
        <xsd:attribute name="Id" type="xsd:ID" use="optional"/>
    </xsd:complexType>

    <!-- ======================================================== -->
    <!-- ====          ArchiveRestitution Message            ==== -->
    <!-- ======================================================== -->

    <xsd:element name="ArchiveRestitution" type="ArchiveRestitutionType"/>

    <!-- ======================================================== -->
    <!-- ====                Type Definition                 ==== -->
    <!-- ======================================================== -->


    <xsd:complexType name="ArchiveRestitutionType">
        <xsd:annotation>
            <xsd:documentation>
                <ccts:UniqueID>ARAES000003</ccts:UniqueID>
                <ccts:Acronym>ABIE</ccts:Acronym>
                <ccts:DictionaryEntryName>ArchiveRestitution</ccts:DictionaryEntryName>
                <ccts:Version>1.0</ccts:Version>
                <ccts:DefinitionText>Restitution d'archives</ccts:DefinitionText>
                <ccts:ObjectClassTerm>ArchiveRestitution</ccts:ObjectClassTerm>
                <ccts:QualifierTerm>ArchiveRestitution</ccts:QualifierTerm>
            </xsd:documentation>
        </xsd:annotation>

        <xsd:sequence>

            <xsd:element name="Comment" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:UniqueID>ARAES000003-01</ccts:UniqueID>
                        <ccts:Acronym>BBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>ArchiveRestitution.Comment</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Cardinality>0..n</ccts:Cardinality>
                        <ccts:Definition>Commentaires</ccts:Definition>
                        <ccts:ObjectClassTerm>ArchiveRestitution</ccts:ObjectClassTerm>
                        <ccts:PropertyTerm>Comment</ccts:PropertyTerm>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="Date" type="udt:DateTimeType">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:UniqueID>ARAES000003-02</ccts:UniqueID>
                        <ccts:Acronym>BBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>ArchiveRestitution.Date</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition>Date d'émission du message</ccts:Definition>
                        <ccts:ObjectClassTerm>ArchiveRestitution</ccts:ObjectClassTerm>
                        <ccts:PropertyTerm>Date</ccts:PropertyTerm>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="RestitutionIdentifier" type="qdt:ArchivesIDType">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:UniqueID>ARAES000003-03</ccts:UniqueID>
                        <ccts:Acronym>BBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>ArchiveRestitution.RestitutionIdentifier</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition>Identifiant de la restitution</ccts:Definition>
                        <ccts:ObjectClassTerm>ArchiveRestitution</ccts:ObjectClassTerm>
                        <ccts:PropertyTerm>RestitutionIdentifier</ccts:PropertyTerm>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="RestitutionRequestReplyIdentifier" type="qdt:ArchivesIDType">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:UniqueID>ARAES000003-04</ccts:UniqueID>
                        <ccts:Acronym>BBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>ArchiveRestitution.RestitutionRequestReplyIdentifier</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition>Identifiant de la réponse à la demande de restitution</ccts:Definition>
                        <ccts:ObjectClassTerm>ArchiveRestitution</ccts:ObjectClassTerm>
                        <ccts:PropertyTerm>RestitutionRequestReplyIdentifier</ccts:PropertyTerm>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="UnitIdentifier" type="qdt:UnitIdentifierType" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:UniqueID>ARAES000003-05</ccts:UniqueID>
                        <ccts:Acronym>BBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>ArchiveRestitution.UnitIdentifier</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Cardinality>1..n</ccts:Cardinality>
                        <ccts:Definition>Tout identifiant permettant de reconnaître le contenu restitué</ccts:Definition>
                        <ccts:ObjectClassTerm>ArchiveRestitution</ccts:ObjectClassTerm>
                        <ccts:PropertyTerm>UnitIdentifier</ccts:PropertyTerm>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="ArchivalAgency" type="OrganizationType">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:UniqueID>ARAES000003-07</ccts:UniqueID>
                        <ccts:Acronym>ASBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>ArchiveRestitution.ArchivalAgency</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition>Service d'archives</ccts:Definition>
                        <ccts:ObjectClassTerm>ArchiveRestitution</ccts:ObjectClassTerm>
                        <ccts:PropertyTerm>ArchivalAgency</ccts:PropertyTerm>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <xsd:element name="OriginatingAgency" type="OrganizationType">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:UniqueID>ARAES000003-06</ccts:UniqueID>
                        <ccts:Acronym>ASBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>ArchiveRestitution.OriginatingAgency</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Cardinality>1..1</ccts:Cardinality>
                        <ccts:Definition>Service producteur</ccts:Definition>
                        <ccts:ObjectClassTerm>ArchiveRestitution</ccts:ObjectClassTerm>
                        <ccts:PropertyTerm>OriginatingAgency</ccts:PropertyTerm>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <xsd:element name="Archive" type="ArchiveType" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:UniqueID>ARAES000003-09</ccts:UniqueID>
                        <ccts:Acronym>ASBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>ArchiveRestitution.Archive</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Cardinality>1..n</ccts:Cardinality>
                        <ccts:Definition>Archive</ccts:Definition>
                        <ccts:ObjectClassTerm>ArchiveRestitution</ccts:ObjectClassTerm>
                        <ccts:PropertyTerm>Archive</ccts:PropertyTerm>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            

            <xsd:element name="NonRepudiation" type="SignatureType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:UniqueID>ARAES000003-08</ccts:UniqueID>
                        <ccts:Acronym>ASBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>ArchiveRestitution.NonRepudiation</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Cardinality>0..1</ccts:Cardinality>
                        <ccts:Definition>Signature du message</ccts:Definition>
                        <ccts:ObjectClassTerm>ArchiveRestitution</ccts:ObjectClassTerm>
                        <ccts:PropertyTerm>NonRepudiation</ccts:PropertyTerm>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="Id" type="xsd:ID" use="optional"/>
    </xsd:complexType>
    
</xsd:schema>