schema/v10/seda_v1-0_archivemodification.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================== -->
<!-- ===== ArchiveModification - Standard d'echange de donnees pour l'archivage ===== -->
<!-- ================================================================== -->
<!--
    Schema agency: Service interministériel des archives de France (SIAF)
    Schema version: 1.0
    Schema date: 06 Juillet 2012
    
    Copyright (c) 2011 Service interministériel des archives de France
    
    Ce document est sous licence Creative Commons Paternité 2.0 France.
    Pour accéder à une copie de cette licence, merci de vous rendre à l'adresse suivante
    http://creativecommons.org/licenses/by/2.0/fr/ ou envoyez un courrier à
    Creative Commons, 444 Castro Street, Suite 900,
    Mountain View, California, 94041, USA.
    
    Prefix: AMAES
-->
<xsd:schema 
        targetNamespace="fr:gouv:culture:archivesdefrance:seda:v1.0" 
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns="fr:gouv:culture:archivesdefrance:seda:v1.0"
        xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:10"
        xmlns:qdt="fr:gouv:culture:archivesdefrance:seda:v1.0:QualifiedDataType:1"
        xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:2"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified"
        version="1.0" >

        <!-- ======================================================== -->
        <!-- ====                Includes                        ==== -->
        <!-- ======================================================== -->
        <xsd:include schemaLocation="seda_v1-0_archive.xsd"/>
        <xsd:include schemaLocation="seda_v1-0_signature.xsd"/>
        <xsd:include schemaLocation="seda_v1-0_organization.xsd"/>
        <xsd:include schemaLocation="seda_v1-0_acknowledgement.xsd"/>

        <!-- ======================================================== -->
        <!-- ====                Imports                         ==== -->
        <!-- ======================================================== -->
        <!-- ======================================================== -->
        <!-- ====        Import of CoreComponentTypes            ==== -->
        <!-- ======================================================== -->
        <xsd:import namespace="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:10" schemaLocation="UnqualifiedDataType_10p0.xsd"/>
        <xsd:import namespace="fr:gouv:culture:archivesdefrance:seda:v1.0:QualifiedDataType:1" schemaLocation="seda_v1-0_QualifiedDataType.xsd"/>

        <!-- ======================================================== -->
        <!-- ====   ArchiveModificationNotification Message      ==== -->
        <!-- ======================================================== -->
        <xsd:element name="ArchiveModificationNotification" type="ArchiveModificationNotificationType"/>

        <!-- ======================================================== -->
        <!-- ====                Type Definition                 ==== -->
        <!-- ======================================================== -->
        <xsd:complexType name="ArchiveModificationNotificationType">
                <xsd:annotation>
                        <xsd:documentation>
                                <ccts:UniqueID>AMAES000001</ccts:UniqueID>
                                <ccts:Acronym>ABIE</ccts:Acronym>
                                <ccts:DictionaryEntryName>ArchiveModificationNotification</ccts:DictionaryEntryName>
                                <ccts:Version>1.0</ccts:Version>
                                <ccts:DefinitionText>Notification de modification d'archives (format ou métadonnées)</ccts:DefinitionText>
                                <ccts:ObjectClassTerm>ArchiveModificationNotification</ccts:ObjectClassTerm>
                                <ccts:QualifierTerm>ArchiveModificationNotification</ccts:QualifierTerm>
                        </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>

                        <xsd:element name="Comment" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>AMAES000001-01</ccts:UniqueID>
                                                <ccts:Acronym>BBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>ArchiveModificationNotification.Comment</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>0..n</ccts:Cardinality>
                                                <ccts:Definition>Indique la modification effectuée (modification des données, des métadonnées...)</ccts:Definition>
                                                <ccts:ObjectClassTerm>ArchiveModificationNotification</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>Comment</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>

                        <xsd:element name="Date" type="udt:DateTimeType">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>AMAES000001-02</ccts:UniqueID>
                                                <ccts:Acronym>BBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>ArchiveModificationNotification.Date</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>1..1</ccts:Cardinality>
                                                <ccts:Definition>Date d'émission du message</ccts:Definition>
                                                <ccts:ObjectClassTerm>ArchiveModificationNotification</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>Date</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>

                        <xsd:element name="ModificationNotificationIdentifier" type="qdt:ArchivesIDType">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>AMAES000001-03</ccts:UniqueID>
                                                <ccts:Acronym>BBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>ArchiveModificationNotification.ModificationNotificationIdentifier</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>1..1</ccts:Cardinality>
                                                <ccts:Definition>Identification de la notification de modification</ccts:Definition>
                                                <ccts:ObjectClassTerm>ArchiveModificationNotification</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>ModificationNotificationIdentifier</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>

                        <xsd:element name="UnitIdentifier" type="qdt:UnitIdentifierType" maxOccurs="unbounded">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>AMAES000001-04</ccts:UniqueID>
                                                <ccts:Acronym>BBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>ArchiveModificationNotification.UnitIdentifier</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>1..n</ccts:Cardinality>
                                                <ccts:Definition>Tout identifiant permettant de reconnaître l'archive ou l'objet modifié</ccts:Definition>
                                                <ccts:ObjectClassTerm>ArchiveModificationNotification</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>UnitIdentifier</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>
                        
                        <xsd:element name="ArchivalAgency" type="OrganizationType">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>AMES000001-06</ccts:UniqueID>
                                                <ccts:Acronym>ASBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>ArchiveModificationNotification.ArchivalAgency</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>1..1</ccts:Cardinality>
                                                <ccts:Definition>Service d'archives</ccts:Definition>
                                                <ccts:ObjectClassTerm>ArchiveModificationNotification</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>ArchivalAgency</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>
                        
                        <xsd:element name="OriginatingAgency" type="OrganizationType">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>AMES000001-05</ccts:UniqueID>
                                                <ccts:Acronym>ASBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>ArchiveModificationNotification.OriginatingAgency</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>1..1</ccts:Cardinality>
                                                <ccts:Definition>Service producteur</ccts:Definition>
                                                <ccts:ObjectClassTerm>ArchiveModificationNotification</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>OriginatingAgency</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>

                         <xsd:element name="Archive" type="ArchiveType" minOccurs="0" maxOccurs="unbounded">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>AMES000001-07</ccts:UniqueID>
                                                <ccts:Acronym>ASBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>ArchiveModificationNotification.Archive</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>0..n</ccts:Cardinality>
                                                <ccts:Definition>Archive</ccts:Definition>
                                                <ccts:ObjectClassTerm>ArchiveModificationNotification</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>Archive</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>
                        
                        <xsd:element name="ArchiveObject" type="ArchiveObjectType" minOccurs="0" maxOccurs="unbounded">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>AMES000001-08</ccts:UniqueID>
                                                <ccts:Acronym>ASBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>ArchiveModificationNotification.ArchiveObject</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>0..n</ccts:Cardinality>
                                                <ccts:Definition>Objets d'Archive</ccts:Definition>
                                                <ccts:ObjectClassTerm>ArchiveModificationNotification</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>ArchiveObject</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>
                        
                        <xsd:element name="NonRepudiation" type="SignatureType" minOccurs="0">
                                <xsd:annotation>
                                        <xsd:documentation>
                                                <ccts:UniqueID>AMES000001-09</ccts:UniqueID>
                                                <ccts:Acronym>ASBIE</ccts:Acronym>
                                                <ccts:DictionaryEntryName>ArchiveModificationNotification.NonRepudiation</ccts:DictionaryEntryName>
                                                <ccts:Version>1.0</ccts:Version>
                                                <ccts:Cardinality>0..1</ccts:Cardinality>
                                                <ccts:Definition>Signature du message</ccts:Definition>
                                                <ccts:ObjectClassTerm>ArchiveModificationNotification</ccts:ObjectClassTerm>
                                                <ccts:PropertyTerm>NonRepudiation</ccts:PropertyTerm>
                                        </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>
                </xsd:sequence>
            
                <xsd:attribute name="Id" type="xsd:ID" use="optional"/>
        </xsd:complexType>

</xsd:schema>

